
<style>

<% width = @header.width + @header.hpics.count * 40 %>

#banner_box { width: <%= width %>px; left:50%; margin-left: -<%= width / 2 %>px; top: 0; position:absolute; border: 0; text-align:center; }

<%= render :partial =>  'stylesheetz/module/header_accordion' %>
</style>
<div id="banner_box">
	<div id="header_accordion" class="accordion">
	    <ol>
	<% @header.header_hpics.each_with_index do |slider,index| %>
		
		<li>
		
			<h2><span><%= slider.hpic.titel %></span></h2>
			
			<div>
		
		<% if slider.cropping %>
			<% if slider.fadeit && slider.extendit %>
				<%= image_tag slider.hpic.bild.encode(:png).process(:side_fade, :size => slider.fade_factor.to_i).process(:blowup).thumb(slider.cropping).thumb("#{@header.width}x#{@header.height}").url %>
			<% elsif slider.extendit %>
				<%= image_tag slider.hpic.bild.encode(:png).process(:blowup).thumb(slider.cropping).thumb("#{@header.width}x#{@header.height}").url %>
			<% elsif slider.fadeit %>
				<%= image_tag slider.hpic.bild.encode(:png).thumb(slider.cropping).process(:side_fade, :size => slider.fade_factor.to_i).thumb("#{@header.width}x#{@header.height}").url  %>
			<% else %>
				<%= image_tag slider.hpic.bild.thumb(slider.cropping).thumb("#{@header.width}x#{@header.height}").url %>
			<% end %>
		<% else %>
			<% if slider.fadeit && slider.extendit %>
				<%= image_tag slider.hpic.bild.encode(:png).process(:side_fade, :size => slider.fade_factor.to_i).process( :blowup).thumb("#{@header.width}x#{@header.height}").url %>
			<% elsif slider.extendit %>
				<%= image_tag slider.hpic.bild.encode(:png).process(:blowup).thumb("#{@header.width}x#{@header.height}").url %>
			<% elsif slider.fadeit %>
				<%= image_tag slider.hpic.bild.encode(:png).process(:side_fade, :size => slider.fade_factor).thumb("#{@header.width}x#{@header.height}").url %>
			<% else %>
				<%= image_tag slider.hpic.bild.thumb("#{@header.width}x#{@header.height}").url %>
			<% end %>
		<% end %>
		
			<figcaption><%= slider.hpic.inhalt %></figcaption>
			
			</div>
		
		</li>
		
		
	<% end %>

		</ol>
	</div>
</div>