<%# gpic_width = 350 %>
<%# gpic_height = 300 %>

<% pic_dim = format_thumb(bild, gpic_width, gpic_height) %>
<% thumb_breite = pic_dim[:breite] %>
<% thumb_hoehe = pic_dim[:hoehe] %>
<% pic_size ||= '' %>

<% if Strangecms::Gallerie::Config[:pic_show] == 'lightbox' %>
	<a class="gpix_box" href="/system/gallerie/lightbox/<%= bild.id %>" rel="LightBox" title="<%= bild.name %>">
<% else %>
	<a class="gpix_box" href="<%= gallerie_path(bild) %>">
<% end %>
		<% if Strangecms::Gallerie::Config[:use_watermarks] && Strangecms::Gallerie::Config["index_watermark_#{ pic_size }"] %>
			<% if (Strangecms::Gallerie::Config[:watermark_type] == 'image') && dat = Datei.find(Strangecms::Gallerie::Config[:watermark_datei].to_i) %>
				<%= image_tag bild.file.thumb(bild.file_cropping).thumb("#{thumb_breite}x#{thumb_hoehe}").encode(:png).process(
								:add_watermark, 
									:path => "#{dat.file.path}", 
									:tile => Strangecms::Gallerie::Config[:watermark_tile].to_i
								).url, 
							:style => "margin: #{(gpic_height-thumb_hoehe)/2}px #{(gpic_width-thumb_breite)/2}px" %>
			<% else %>
				<%= image_tag bild.file.thumb(bild.file_cropping).thumb("#{thumb_breite}x#{thumb_hoehe}").encode(:png).process(
								:add_tiled_text,
								 	:text => Strangecms::Gallerie::Config[:watermark_text].to_s,
									:color => Strangecms::Gallerie::Config[:watermark_font_color],
									:opacity => Strangecms::Gallerie::Config[:watermark_blur],
									:rotate => Strangecms::Gallerie::Config[:watermark_rotate],
									:font_size => Strangecms::Gallerie::Config[:watermark_font_size],
									:tile => Strangecms::Gallerie::Config[:watermark_tile]).url, 
								:style => "margin: #{(gpic_height-thumb_hoehe)/2}px #{(gpic_width-thumb_breite)/2}px" %>
			<% end %>
		<% else %>
			<%= image_tag bild.file.thumb(bild.file_cropping).thumb("#{thumb_breite}x#{thumb_hoehe}").url, 
							:style => "margin: #{(gpic_height-thumb_hoehe)/2}px #{(gpic_width-thumb_breite)/2}px" %>
		<% end %>
		
	</a>

