


	
<% if @bilder && @bilder.count > 0 %>


	<% if @xxl_view %>

		<div class="paginator_wrapper">
			<a href="<%= gallerien_path %>" class="viewChangeButton">
				<%= finelineButton :icon => 78, :size => 24 %>
				<%= finelineButton :icon => 80, :size => 24, :blur => 50 %>
				<div class="clearfix"></div>
			</a>
			<%= paginate @bilder, :params => {:controller => 'gallerien', :action => 'xxl_index'}  %>
		</div>
	
		
		<% @bilder.each_with_index do |bild,index| %>
			
				<div class="fl_box_350">
					<%= render 'gallerien/g_pic', :bild => bild, :gpic_width => 340, :gpic_height => 260 %>
				</div>
		
			<% if (index + 1).modulo(2) == 0 %>
				<div class="clearfix"></div>
				<div class="vert_space"></div>
				<div class="clearfix"></div>
			<% end %>

		<% end %>
	
		<% unless (@bilder.count).modulo(2) == 0 %>
			<div class="clearfix"></div>
			<div class="vert_space"></div>
			<div class="clearfix"></div>
		<% end %>
		<div class="paginator_wrapper bottom">
			<a href="<%= gallerien_path %>" class="viewChangeButton">
				<%= finelineButton :icon => 78, :size => 24 %>
				<%= finelineButton :icon => 80, :size => 24, :blur => 50 %>
				<div class="clearfix"></div>
			</a>
			<%= paginate @bilder, :theme => 'bottom', :params => {:controller => 'gallerien', :action => 'xxl_index'}  %>
		</div>

	<% else %>
	
		<div class="paginator_wrapper">
			<a href="<%= xxl_gallerien_path %>" class="viewChangeButton">
				<%= finelineButton :icon => 78, :size => 24, :blur => 50 %>
				<%= finelineButton :icon => 80, :size => 24 %>
				<div class="clearfix"></div>
			</a>
			<%= paginate @bilder, :params => {:controller => 'gallerien', :action => 'index'}  %>
		</div>
	
		
		<% @bilder.each_with_index do |bild,index| %>
			
				<div class="fl_box_170">
					<%= render 'gallerien/g_pic', :bild => bild, :gpic_width => 160, :gpic_height => 122 %>
				</div>
		
			<% if (index + 1).modulo(4) == 0 %>
				<div class="clearfix"></div>
				<div class="vert_space"></div>
				<div class="clearfix"></div>
			<% end %>

		<% end %>
	
		<% unless (@bilder.count).modulo(4) == 0 %>
			<div class="clearfix"></div>
			<div class="vert_space"></div>
			<div class="clearfix"></div>
		<% end %>
		<div class="paginator_wrapper bottom">
			<a href="<%= xxl_gallerien_path %>" class="viewChangeButton">
				<%= finelineButton :icon => 78, :size => 24, :blur => 50 %>
				<%= finelineButton :icon => 80, :size => 24 %>
				<div class="clearfix"></div>
			</a>
			<%= paginate @bilder, :theme => 'bottom', :params => {:controller => 'gallerien', :action => 'index'}  %>
		</div>
	<% end %>

<% elsif @bild %>
	
	<div class="fl_box_710">
		<div class="gpix_box">
				<%= image_tag @bild.file.thumb( @bild.file_cropping ).thumb("#{700}x#{600}").url %>
		</div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
	<div class="fl_box_710">
		<div class="trenn_linie"></div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
	<div class="fl_box_710">
		<div class="trenn_linie"></div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
<% else %>
	
	<br/>
	Bilder folgen ...
	<br/>
	
<% end %>
