<div class="box">
<div class="in_box first">
	<% if @tag %>
		<h1>Bilder mit Tag: '<%= @tag.name %>'</h1>
	<% elsif @kategorie %>
		<h1>Bilder der Kategorie: '<%= @kategorie.name %>'</h1>
	<% elsif params[:year] %>
		<h1>Bilder von: <%= params[:day]+"." if params[:day] %><%= params[:month]+"." if params[:month] %><%= params[:year] %></h1>
	<% else %>
		<h1>Bilder</h1>
	<% end %>
</div>

<div class="in_box">
		<div class="trenn_linie"></div>
		<div class="clearfix"></div>
</div>


<div id="gallerie_show" class="in_box">

<% if @bilder && @bilder.count > 0 %>


	<% if @xxl_view %>

		<%= paginator_wrapper( @bilder, 
			:mini => @smal_url, :maxi => '#', :on => 'maxi', :object_type => 'Array',
			:params => {:controller => 'gallerien', :action => 'index'} ) %>
	
		
		<% @bilder.each_with_index do |bild,index| %>
			
				<div class="fl_box_350">
					<%= render 'gallerien/g_pic', :bild => bild, :gpic_width => 340, :gpic_height => 260, :pic_size => '2line' %>
				</div>
		
			<% if (index + 1).modulo(2) == 0 %>
				<div class="clearfix"></div>
				<div class="vert_space"></div>
				<div class="clearfix"></div>
			<% end %>

		<% end %>
	
		<% unless (@bilder.count).modulo(2) == 0 %>
			<div class="clearfix"></div>
			<div class="vert_space"></div>
			<div class="clearfix"></div>
		<% end %>
		
		<% if @bilder.count > 6 %>
			<%= paginator_wrapper( @bilder, 
				:mini => @smal_url, :maxi => '#', :on => 'maxi', :object_type => 'Array',
				:params => {:controller => 'gallerien', :action => 'index'} ) %>
		<% end %>

	<% else %>
	
		<%= paginator_wrapper( @bilder, 
			:mini => '#', :maxi => @xxl_url, :on => 'mini', :object_type => 'Array',
			:params => {:controller => 'gallerien', :action => 'index'} ) %>
	
		
		<% @bilder.each_with_index do |bild,index| %>
			
				<div class="fl_box_170">
					<%= render 'gallerien/g_pic', :bild => bild, :gpic_width => 160, :gpic_height => 122, :pic_size => '4line' %>
				</div>
		
			<% if (index + 1).modulo(4) == 0 %>
				<div class="clearfix"></div>
				<div class="vert_space"></div>
				<div class="clearfix"></div>
			<% end %>

		<% end %>
	
		<% unless (@bilder.count).modulo(4) == 0 %>
			<div class="clearfix"></div>
			<div class="vert_space"></div>
			<div class="clearfix"></div>
		<% end %>
		
		<% if @bilder.count > 20 %>
			<%= paginator_wrapper( @bilder, 
				:mini => '#', :maxi => @xxl_url, :on => 'mini', :object_type => 'Array',
				:params => {:controller => 'gallerien', :action => 'index'} ) %>
		<% end %>
			
	<% end %>

<% elsif @bild %>
	
	<div class="fl_box_710">
		<div class="gpix_box">
				<% if Strangecms::Gallerie::Config[:use_watermarks] && Strangecms::Gallerie::Config[:show_watermark] %>

					<% if (Strangecms::Gallerie::Config[:watermark_type] == 'image') && dat = Datei.find(Strangecms::Gallerie::Config[:watermark_datei].to_i) %>

						<%= image_tag @bild.file.thumb( @bild.file_cropping ).thumb("#{700}x#{600}").encode(:png).process(
										:add_watermark, 
											:path => "#{dat.file.path}", 
											:tile => Strangecms::Gallerie::Config[:watermark_tile].to_i
										).url %>

					<% else %>

						<%= image_tag @bild.file.thumb( @bild.file_cropping ).thumb("#{700}x#{600}").encode(:png).process(
										:add_tiled_text,
										 	:text => Strangecms::Gallerie::Config[:watermark_text].to_s,
											:color => Strangecms::Gallerie::Config[:watermark_font_color],
											:opacity => Strangecms::Gallerie::Config[:watermark_blur],
											:rotate => Strangecms::Gallerie::Config[:watermark_rotate],
											:font_size => Strangecms::Gallerie::Config[:watermark_font_size],
											:tile => Strangecms::Gallerie::Config[:watermark_tile]).url %>

					<% end %>

				<% else %>

					<%= image_tag @bild.file.thumb( @bild.file_cropping ).thumb("#{700}x#{600}").url %>

				<% end %>
		</div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
	<div class="fl_box_710">
		<div class="trenn_linie"></div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
	<div class="fl_box_710">
		<div class="trenn_linie"></div>
		<div class="clearfix"></div>
		<div class="vert_space"></div>
		<div class="clearfix"></div>
	</div>
	
<% else %>
	
	<br/>
	Bilder folgen ...
	<br/>
	
<% end %>
</div>

</div>