<p><%= t('hallo_user') %> <%= @resource.email %>!</p>

<p><%= t("Someone_has_requested_a_link_to_change_your_password_and_you_can_do_this_through_the_link_below") %></p>

<p><%= link_to t('Change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("If_you_didn_t_request_this_please_ignore_this_email") %></p>
<p><%= t("Your_password_won_t_change_until_you_access_the_link_above_and_create_a_new_one") %></p>
