<% data ||= @data %>
<% available_tags ||= @available_tags %>

<h2 class="polymorphe_form_head_toggle aktiv">
	<%= link_to 'Tags hinzufügen', "#", :remote => true %>
</h2>

<div class="polymorphe_form_box">
	
	<div id="tag_form_available_tags">
		<%= render 'admin/tags/a_tags', :data => data, :available_tags => available_tags %>
	</div>

	<div class="clearfix"></div>
	<br/>
	<div class="top_trenner"></div>
	<br/>
	<%= form_tag "/admin/#{data.class.to_s.tableize}/#{data.id}/tags/new_data_tag", :method => :post, :remote => true do %>
		
		<div class="form_field_spacer">
			<%= text_field_tag 'new_tag_name', '', :class => 'tipped', :placeholder => 'neuen Tag anlegen' %>
		</div>

		<%= submit_tag 'Tag erstellen' %>
	
	<% end %>
	<div class="clearfix"></div>
	<br/>
			
</div>


