
<% if (current_user && admin_check) || (data.tags.count > 0) %>
<h5 class="icon"><%= finelineIcon(:icon => 50, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_categories.headlines.object_tags') %> 
	<% if current_user && admin_check %>
		<span class="smal_text_link">| <%= link_to t('strange_categories.headlines.tag_add'), "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/tags/available_data_tags", :class => "colorB" %></span>
	<% end %>
</h5>
<% end %>

<div id="objekt_tag_box">
<% data.tags.each_with_index do |tag, index| %>

	<% if current_user && admin_check %>
		<div class="selected_tag" id="<%= dom_id(tag)%>">
			<div class="selected_tag_deleta">
				<%= link_to finelineIcon( :icon => 24, :blur => 50, :color => 'hell', :size => 18 ), "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/tags/#{tag.id.to_s}/remove_data_tag",
												:method => :delete,
												:class => 'tooltiped',
												:title => t('strange_categories.headlines.tag_remove'),
												:remote => true %>
			</div>
			<div class="selected_tag_name">
				<%= tag.name %>
			</div>
			<div class="clearfix"></div>
		</div>

	<% else %>

		<%= ', ' if index > 0 %><%= tag.name %>

	<% end %>

	
<% end %>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<br/>