<h2 class="polymorphe_headline"><%= data.class.to_s.humanize %> wurde getaggt mit</h2>

<div id="objekt_tag_box">
<% data.tags.each do |tag| %>
<div class="selected_tag" id="<%= dom_id(tag)%>">
	
	<% if current_user %>
	
	<div class="selected_tag_deleta">
		<%# strange_selected_delete( tag, :url => "/admin/tags/#{tag.id}/#{data.class.to_s.singularize.downcase}/#{data.id.to_s}/remove", :tooltip => 'Tag löschen' ) %>
		<%# fineline_icon_delete( tag, :url => "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/tags/#{tag.id.to_s}/remove_data_tag", :tooltip => 'Tag löschen' ) %>
		<%= link_to fineline_icon('loeschen'), "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/tags/#{tag.id.to_s}/remove_data_tag",
										:method => :delete,
										:class => 'tooltiped',
										:title => 'Tag löschen',
										:remote => true %>
		
	</div>
	
	<div class="selected_tag_name">
		<%= tag.name %>
	</div>
	
	<div class="clearfix"></div>
	
	<% else %>
	
	<div class="selected_tag_name">
		&nbsp;<%= tag.name %>
	</div>
	
	<div class="clearfix"></div>
	
	<% end %>
	
</div>
	
<% end %>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<br/>