<div class="admin_box">
	
	<div id='inviting_form'>
		
	<h1 class="admin"><%= finelineIcon(:icon => 42, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('Send_invitation') %></h1>
	
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<p>Hier können Sie einen neuen Nutzer einladen.</p>
			</div>
		</div>
		
		<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :remote => true do |f| %>
		
		<div class="box">
			<div class="in_box white">
				
				
					<%= strange_devise_error_messages! %>
					
					<table class="login">
						<tr>
							<th><%= f.label :anrede, t("anrede") %></th>
							<td><%= f.select :anrede, User::USER_TYPIES.map { |c| [I18n.t(c), c] }, :include_blank => true %></td>
						</tr>
						<tr>
							<th><%= f.label :vorname, t("vorname") %></th>
							<td><%= f.text_field :vorname %></td>
						</tr>
						<tr>
							<th><%= f.label :name, t("name") %></th>
							<td><%= f.text_field :name %></td>
						</tr>
						<tr>
							<th><%= f.label :email, t("email") %></th>
							<td><%= f.text_field :email %></td>
						</tr>
						<% if current_user && current_user.evil_master %>
						<tr>
							<th>&nbsp;</th>
							<td></td>
						</tr>
						<tr>
							<th><%= f.label :site_admin, t('site_admin') %></th>
							<td><%= f.check_box :site_admin %></td>
						</tr>
						<% end %>
						<% if admin_check %>
						<tr>
							<th>&nbsp;</th>
							<td></td>
						</tr>
						<tr>
							<th><%= f.label :gruppe_id, t('gruppe') %></th>
							<td><%= f.select :gruppe_id, Gruppe.all.map { |c| [c.name,c.id] } %></td>
						</tr>
						<% end %>
					</table>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<%= f.submit t("Send_an_invitation") %>
				<div class="big_button_spacer"><%= t('or') %></div>
				<%= link_to t('back'), :back, :class => 'big_button' %>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<% end %>
		
	</div>
	
	</div>
</div>

