<!DOCTYPE html>
<%# encoding: utf-8%>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<%#= render 'stylesheetz/all' %>
<%= render 'admin/shared/head' %>
<%= stylesheet_link_tag '/system/admin_finestyle' %>
<script type="text/javascript" src="/javascripts/flowplayer/flowplayer-3.2.6.min.js"></script>
</head>

<body lang="de">
<div id="container">

<%= render 'shared/notice' %>
    
<%= hook :admin_user_part do %>
	<%= render 'navigation/user' %>
<% end %>


<%= yield %>


</div> <!--! end of #container -->


<%- # Javascript at the bottom for fast page loading -%>

<%- # Grab Google CDN's jQuery. fall back to local if necessary -%>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
<%= javascript_tag %{!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))} %>

<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js' %>

<%= theme_javascript_include_tag 'plugins' %>

<%= theme_javascript_include_tag 'jquery_ujs' %>

<%= theme_javascript_include_tag 'jquery_form' %>
<%= theme_javascript_include_tag 'jquery_remotipart' %>

<%= theme_javascript_include_tag 'cbox' %>

<%= theme_javascript_include_tag 'validate' %>
	
<%= theme_javascript_include_tag 'strange' %>

	
<%= render 'javascriptz/strange_sites' %>
	

<%- # Fix any <img> or .png_bg background-images -%>
<!--[if lt IE 7 ]>
    <%= javascript_include_tag 'libs/dd_belatedpng.js' %>
    <%= javascript_tag %{DD_belatedPNG.fix('img, .png_bg')} %>
<![endif]-->


<%- # asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet -%>
<%- # change the UA-XXXXX-X to be your site's ID -%>
<%- if Rails.env.production? -%>
<script>
 var _gaq = [['_setAccount', '<%= Strangecms::Config[:analytics_key] %>'], ['_trackPageview']];
 (function(d, t) {
  var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
  g.async = true;
  g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g, s);
 })(document, 'script');
</script>
<%- end -%>
<%= yield :js_stuff %>

<%= hook :strange_admin_js_stuff %>

</body>
</html>




