<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">


  <script src="/javascripts/libs/modernizr.js"></script>


	
	
	<meta charset="utf-8">

  <%- # Always force latest IE rendering engine (even in intranet) & Chrome Frame -%>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>
  <meta name="keywords" content="<%= strange_m_keywords %>">
  <meta name="description" content="<%= strange_m_description %>">
  <meta name="author" content="<%= Strangecms::Config[:m_author] %>">

  <%- # Mobile viewport optimized: j.mp/bplateviewport -%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- # Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -%>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%- # CSS : implied media="all" -%>
  <%#= theme_stylesheet_link_tag 'jquery-ui/base/jquery_ui_min', :cache => true %>
  <%#= theme_stylesheet_link_tag 'jquery.alerts', :cache => false %>
  <%#= theme_stylesheet_link_tag 'style', :cache => false %>

  <%- # Uncomment if you are specifically targeting less enabled mobile browsers -%>
  <%#= stylesheet_link_tag "handheld", :media => "handheld" %>

  <%= csrf_meta_tag %>

  <%- # All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -%>
  <%#= javascript_include_tag 'libs/modernizr.custom' %>



  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag 'var STRANGE_G_MAP_KEY = "'+Strangecms::Config[:g_maps_key].to_s+'";' %>


  <%= yield :head %>

  <%= hook :site_after_head %>

	<%= render 'stylesheetz/google_fonts' %>

	<%= stylesheet_link_tag '/system/finestyle' %>



	<%= yield :front_styles %>

</head>

<body>

<div id="container">
	<noscript>
		<div class="nojs_alert_box">
			<div class="container_48">
				<div class="fl_box_950">
					<h3>Achtung! Bitte aktivieren Sie JavaScript, dies ist Vorraussetzung für alle erweiterten Funktionen!!!</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</noscript>
	<%= render 'shared/notice' %>

	<%= hook :user_part do %>
		<%= render 'navigation/user' %>
	<% end %>

	<%= render 'parts/header'%>


	<div id="fine_banner_box">
		<div id="banner">
			<%= render 'navigation/main' %>
			<%= hook :strange_banner %>
		</div>
	</div>


	<%= render 'parts/breadcrumps' %>

	<div id="main" role="main">
		<div class="container_48">
			<div class="fl_box_710">

				<%= yield %>

			</div>
			<div class="fl_box_210 push_1">
				<div id="sidebarholder" class="dbx-group">
					
				
				<%= yield :sidebar %>

				<%= yield :modul_sidebar %>

				<%= hook :strange_sidebar_test do %>
					<div class="side_box dbx-box">
						<div class="sidebar_head dbx-handle" title="fineline-Sidebar">fineline-Sidebar</div>
						<ul class='sidebar dbx-content'>
							<% if current_user && site_master %>
							<li><p><span class="norm1">Controller:</span> <span class="norm2"><%= controller.controller_name %></span></p></li>
							<li><p><span class="norm1">Action:</span> <span class="norm2"><%= controller.action_name -%></span></p></li>
							<li><%= link_to ' ! reload Stylez ! ', expire_finestyles_path %></li>
							<li><%= link_to ' ! reload Scriptz ! ', expire_finescripts_path %></li>
							<% end %>
							<% if current_user %>
								<li><%= link_to 'neue Seite', new_seite_url %></li>
							<% else %>

								<li><p>Beispiel Sidebar</p></li>
								<li><p>Modul-Sidebars:</p></li>
								<li><p>- News_Modul</p></li>
								<li><p>- Bild_Modul</p></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<%= hook :strange_sidebar %>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>

	<%= render 'parts/footer' %>

</div> <!--! end of #container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery_min.js"><\/script>')</script>

  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js' %>

  <%= javascript_include_tag '/system/finescript' %>




  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<%# <script src="//192.168.1.105:3000/javascripts/libs/gframe.js"></script> %>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

	<%= hook :fineline_javascript %>
	<%= yield :front_js %>
	<%= yield :js_stuff %>
	<%= yield :more_front_stuff %>
	<%= hook :strange_front_js_stuff %>

	<%- # asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet -%>
	<%- if Rails.env.production? && Strangecms::Config[:analytics_key] != 'UA-XXXXX-X' -%>
	window._gaq = [['_setAccount','<%= Strangecms::Config[:analytics_key] %>'],['_trackPageview'],['_trackPageLoadTime']];
	Modernizr.load({
	  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
	});
	<%- end -%>

	<% if 'x' == 'y' %>
	//  Google_Analytics helper von boilerplate:
	// New:
	window._gaq = [['_setAccount','<%= Strangecms::Config[:analytics_key] %>'],['_trackPageview'],['_trackPageLoadTime']];
	Modernizr.load({
	  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
	});
	// Old:
	var _gaq = [['_setAccount', '<%= Strangecms::Config[:analytics_key] %>'], ['_trackPageview']];
	(function(d, t) {
	 var g = d.createElement(t),
	     s = d.getElementsByTagName(t)[0];
	 g.async = true;
	 g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 s.parentNode.insertBefore(g, s);
	})(document, 'script');
	<% end %>
	  
</body>
</html>
