<!DOCTYPE html>
<%# encoding: utf-8%>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<%#= render 'stylesheetz/all' %>
<%= render 'admin/shared/head' %>
<%= stylesheet_link_tag '/system/admin_finestyle' %>
</head>

<body lang="de">
  <div id="container">

<%= render 'shared/notice' %>

<%= hook :strange_admin_page do %>
    
<%= hook :admin_user_part do %>
	<%= render 'navigation/user' %>
<% end %>

<div id="admin_header">
		<div class="container_48">
			<%= render 'admin/shared/main_navigation' %>
			<div class="clearfix"></div>
		</div>
</div>

<div id="sub-menu">
    <%= yield :sub_menu %>
    <div class="clearfix"></div>
</div>
<div id="white_spacer"> </div>

<div id="main" role="main">
	<div id="in_main">
		<div class="container_48">
			<div id="content" class="fl_box_710">
				<%= yield %>
			</div>
			<div class="fl_box_210 push_1">
				<%= yield :sidebar %>
				<%= hook :strange_admin_sidebar %>
				
				<% if current_user && site_master %>
					<div class="side_box">
						<div class="sidebar_head">
							<a href="#"><%= t('strange_preferences.fine_master_settings') %></a>
						</div>
						<ul class='sidebar'>
							<li><%= link_to raw('reload =>&nbsp;&nbsp;&nbsp;<strong>C S S</strong>'), expire_finestyles_path  %></li>
							<li><%= link_to raw('reload =>&nbsp;&nbsp;&nbsp;&nbsp;<strong>J S</strong>'), expire_finescripts_path  %></li>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="clearfix"></div>
			<br/>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="clearfix"></div>

<%= render 'parts/footer' %>

<% end %>

</div> <!--! end of #container -->


<%# cache(:part => 'javascriptz') do %>

	<%- # Javascript at the bottom for fast page loading -%>

	<%- # Grab Google CDN's jQuery. fall back to local if necessary -%>
	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
	<%= javascript_tag %{!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))} %>

	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js' %>

	<%= javascript_include_tag '/system/admin_finescript' %>

	

	<%- # Fix any <img> or .png_bg background-images -%>
	<!--[if lt IE 7 ]>
	    <%= javascript_include_tag 'libs/dd_belatedpng.js' %>
	    <%= javascript_tag %{DD_belatedPNG.fix('img, .png_bg')} %>
	<![endif]-->




	<%= yield :js_stuff %>

	<%= hook :strange_admin_js_stuff %>

<%# end %>

</body>
</html>




