<td colspan="5">
<%= form_for(data, :url => { :controller => 'admin/fineform_fields', :action => :update}) do |f| %>
<%= render 'shared/error', :item => f.object%>
						<table>
							<tr>
								<th><%= f.label :name %></th>
								<td><%= f.text_field :name, :size => '50' %></td>
							</tr>
							<tr>
								<th><%= f.label :needed %></th>
								<td><%= f.check_box :needed %></td>
							</tr>
							<tr>
								<th><%= f.label :feld_typ %></th>
								<td><%= f.select :feld_typ, Fineform::FELD_TYPEN.map { |c| [t("strange_fineform.#{c}"), c] } %></td>
								<%# select_tag :view, options_for_select( Bild::BILD_STILE.map { |c| [I18n.t(c), c] }, @mail_view) %>
							</tr>
							<tr>
								<th><%= f.label :werteliste_id %></th>
								<td><%= f.select :werteliste_id, Werteliste.all.map { |c| [c.name, c.id] }, :include_blank => true %></td>
							</tr>
							<tr>
								<th><%= f.label :stil %></th>
								<td><%= f.select :stil, Fineform::FELD_STYLE.map { |c| [t("strange_fineform.#{c}"), c] }, :include_blank => true %></td>
							</tr>
							<tr>
								<th></th>
								<td><%= f.submit %>
								<div class="clearfix"></div></td>
							</tr>
						</table>
<% end %>

</td>