<div class="grid_32">
	<div id="admin_main_navigation">
		<%= hook :admin_main_navigation do %>
			<% if Strangecms::Config[:show_dashboard] %>
				<%= link_to 'Dashboard', admin_root_url, :class => "#{'aktiv' if @aktivio && @aktivio == 'dashboard'}" %>
			<% end %>
			<%= link_to 'Seiten', admin_seiten_url, :class => "#{'aktiv' if @aktivio && @aktivio == 'seiten'}" %>

		<% end %>
	</div>
	<div class="clearfix"></div>
</div>

<div class="grid_16">
	<div id="admin_system_navigation">
		<%= hook :admin_main_right_navigation do %>

			<%= link_to 'Module', admin_module_url, :class => "#{'aktiv' if @aktivio && @aktivio == 'module'}" %>

		<% end %>
	</div>
	<div class="clearfix"></div>
</div>

