<%= render 'admin/shared/seiten_sub_menu' %>

<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 49, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_sites.headlines.index') %></h1>

	<div class="admin_in_box">
		
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= raw( t('strange_sites.helptext.index') ) %></p>
				</div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		

		<div class="work_box">
			<div class="in_box white">
				<div class="fine_table">
					<% @seiten.each do |seite| %>
					  <div class="row" id="<%= dom_id(seite)%>">

						<div class="sorter"><%= fine_handle(:color => 'hell') %></div>

					    <div class="title">
							<%= seite.titel %>
							<% if seite.unter_seiten.count > 0 %>
								<br />
								<% seite.unter_seiten.each do |u_seite| %>
									> <%= u_seite.titel %><br />
								<% end %>
							<% end %>
						</div>
					    <div class="aktiv">
							<% if seite.deleted %><strong>gelöscht</strong><% else%><%= seite.entwurf ? 'entwurf' : 'aktiv' %><% end %>
							<% if seite.unter_seiten.count > 0 %>
								<br />
								<% seite.unter_seiten.each do |u_seite| %>
									<% if u_seite.deleted %><strong>gelöscht</strong><% else%><%= u_seite.entwurf ? 'entwurf' : 'aktiv' %><% end %><br />
								<% end %>
							<% end %>
						</div>
					
						<div class="actions">
							<% if seite.deleted %>
								<%= link_to 'wiederherstellen', restore_admin_seite_path(seite) %> | <%= link_to 'engültig Löschen', kill_admin_seite_path(seite) %>
							<% else%>
								<%= strange_admin_show_link seite %>
								<%= strange_edit_link(seite) %>
								<%# hook :admin_site_delete_button do %>
								<% if site_master || seite.system_seite == false %>
							    	<%= strange_delete_link seite %>
								<% end %>
							<% end %>
							
							<% if seite.unter_seiten.count > 0 %>
								<br />
								<% seite.unter_seiten.each do |u_seite| %>
								
								<% if u_seite.deleted %>
									<%= link_to 'aktivieren', restore_admin_seite_path(u_seite) %>
									 | <%= link_to 'zerstören', kill_admin_seite_path(u_seite) %><br />
								<% else %>
									
									<%= strange_admin_show_link u_seite %>
									<%= strange_edit_link(u_seite) %>
									<%# hook :admin_site_delete_button do %>
									<% if site_master || u_seite.system_seite == false %>
								    	<%= strange_delete_link u_seite %>
									<% end %><br />
									
								<% end %>
								
								<% end %>
							<% end %>
						</div>
					
					  </div>
					<% end %>
					<div class="clearfix">
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
	</div>
</div>


<%= render 'admin/shared/seiten_sidebar' %>


<% content_for :js_stuff do %>
<script type="text/javascript">
	
	var fixWidthHelper = function(e, ui) {
      ui.children().each(function() {
        $(this).width($(this).width());
      });
      return ui;
  };
  $(function() {
    $("div.fine_table").sortable({
      axis: 'y',
      handle: '.fine_handle',
      cursor: "move",
      helper: fixWidthHelper,
      
      update: function(){
        $.ajax({
          type: 'post', 
          data: 'authenticity_token='+AUTH_TOKEN+'&'+ $('div.fine_table').sortable('serialize'), 
          dataType: 'script',
          complete: function(request){
            $('div.fine_table').effect('highlight');
          },
          url: "<%= reorder_seiten_url %>"
        })
      }
		});
  });

$('.sortable_trigger').live('click', function(event) {
	event.preventDefault();
	$(this).toggleClass('aktiv');
	$(".fine_table").toggleClass('sortable');
})



</script>
<% end %>