<style>


ol.sortable_list { list-style:none; margin:0; padding:0; }

ol.sortable_list ol { list-style:none;  margin:0; padding: 10px; }

ol.sortable_list .ui-sortable-placeholder { border: dotted 2px #c00; background: #f8fc00; visibility: visible !important; margin: 0 10px 0 39px; opacity: .50; }

ol.sortable_list li { list-style:none; margin: 0; padding: 5px; }

.sortable_list_entry { width: 350px; padding: 0 30px; display: block; cursor:move; border: solid 1px transparent; }
.sortable_list_entry:hover { background: #f3f2f2; border: solid 1px #ccc; }


</style>


<div class="admin_box in_LB">
	<h1 class="admin"><%= finelineIcon(:icon => 49, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('header_headline') %></h1>
	<div class="admin_in_box">
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.helptext.index') %></p>
				</div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white" id="Hpics_Box">
				
				<ol class='sortable_list'>
				  <%= render :partial => "seite",
				             :collection => @seiten,
				             :locals => { :collection => @seiten }  %>
				</ol>
				
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.helptext.std_header') %></p>
				</div>
			</div>
			
			<div class="box">
					<div class="trenn_linie"></div>
			</div>
			
		</div>
		
		<div class="box" id="serializeOutput">
			<div class="vspacer">
				
			</div>
		</div>

		<div class="box">
				<%= link_to 'senden', '#', :id => "send_sorted_list", :class => 'big_submit_button' %>
				<div class="clearfix"></div>
		</div>
		
		
	</div>
</div>


<script type="text/javascript">
$('.sortable_list').nestedSortable({
	disableNesting: 'no-nest',
	forcePlaceholderSize: true,
	handle: 'div',
	items: 'li',
	maxLevels: 3,
	opacity: .6,
	revert: 250,
	tabSize: 30,
	tolerance: 'pointer'
	});

	$('#send_sorted_list').click(function(e){
				e.preventDefault();
				serialized = $('ol.sortable_list').nestedSortable('serialize');
				$('#serializeOutput').text(serialized+'\n\n');
				
				$.ajax({
					type: 'post', 
					data: 'authenticity_token='+AUTH_TOKEN+'&'+ $('ol.sortable_list').nestedSortable('serialize'), 
					dataType: 'script',
					complete: function(request){
						window.location = "/admin/seiten/";
					},
					url: "<%= nestesd_seiten_reorder_path %>"
				});
			});
</script>