<%= render 'admin/shared/seiten_sub_menu' %>

<div class="box">
<%# cache(:part => "inhalt") do %>
	<% if Strangecms::Config[:show_site_name] %>
	<div class="in_box first">
		<h1><%= @seite.headline %></h1>
	</div>
	<% end %>
	
	<% @seite.abschnitte.each_with_index do |abschnitt,index| %>

		<%= hook :seiten_abschnitte_if, :abschnitt => abschnitt, :index => index %>
	
		<% if abschnitt.stuff_typ == 'trenn_linie' %>
		<div class="in_box<%= ' first' unless Strangecms::Config[:show_site_name] || index > 0 %>">
			<div class="trenn_linie"></div>
			<div class="clearfix"></div>
		</div>
		<% end %>

		<%# if abschnitt.text %>
		<% if abschnitt.stuff_typ == 'text' %>
		<div class="in_box<%= ' first' unless Strangecms::Config[:show_site_name] || index > 0 %>">
			<%= raw abschnitt.inhalt %>
			<div class="clearfix"></div>
		</div>
		<% end %>
	
	<% end %>

	<%= hook :seiten_abschnitte_ende %>

<%# end %>

<% if admin_check %>
	<div id="seite_admin_toolz" class="fineline_system_toolz">
		<%= finelineButton(		:icon => 30, 
								:blur => finestyler( 'systemButton_icon_blur' ), 
								:color => finestyler( 'systemButton_icon_color' ), 
								:size => finestyler( 'systemButton_icon_size' ), 
								:class => "system #{ finestyler( 'systemButton_style' ) }", 
								:url => edit_admin_seite_path(@seite), 
								:tooltip => t("strange_sites.links.edit")  ) %>
	<% if site_master || @seite.system_seite == false %>
		<%= finelineDelete(		@seite,
								:icon => 24, 
								:blur => finestyler( 'systemButton_icon_blur' ), 
								:color => finestyler( 'systemButton_icon_color' ), 
								:size => finestyler( 'systemButton_icon_size' ), 
								:class => "system #{ finestyler( 'systemButton_style' ) }",
								:url => admin_seite_path(@seite.id), 
								:tooltip => t("strange_sites.links.delete")  ) %>
	<% end %>
		<div class="clearfix"></div>
	</div>
<% end %>
</div>


<%= content_for :sidebar do %>
<% if Seite.where(:elternseite_id => @seite.id).count > 0 %>

<div class="side_box dbx-box">
	<div class="sidebar_head dbx-handle"><%= @seite.name.titleize %></div>
	<ul class='sidebar dbx-content'>
			<% Seite.where(:elternseite_id => @seite.id).order(:position).each do |u_site| %>
				<li><%= link_to u_site.titel, u_site.slug, :class => "#{ 'aktiv' if u_site == @seite}"%></li>
			<% end %>
	</ul>
</div>
<% end %>
<% if @seite.ueber_seite %>

<div class="side_box dbx-box">
	<div class="sidebar_head dbx-handle"><%= @seite.ueber_seite.name.titleize %></div>
	<ul class='sidebar dbx-content'>
			<% Seite.where(:elternseite_id => @seite.ueber_seite.id).order(:position).each do |u_site| %>
				<li><%= link_to u_site.titel, u_site.slug, :class => "#{ 'aktiv' if u_site == @seite}"%></li>
			<% end %>
	</ul>
</div>
<% end %>


<% end %>



