<%= render 'shared/fck_editor' %>
<%#= render 'javascriptz/strange_sites' %>
<div class="box">
	<div class="in_box first">
		<% if @aktion == 'new' %>
			<h1 id="seiten_healine_form"><%= t('Neue_Seite') %></h1>
		<% else %>
			<h1 id="seiten_healine_form"><%= @seite.name %> - <%= t('edit') %></h1>
		<% end %>
	</div>
	<% if @aktion == 'new' %>
		<div class="in_box">
			<p>Hier haben Sie die Möglichkeit weitere Seiten zuerstellen und mit Inhalten zu versehen. 
			Über die erweiterten Einstellungen können Sie Ihre einzelnen Seiten für Suchmaschinen optimieren.</p>
		</div>
	<% end %>
	<div class="in_trenn_box">
		<div class="trenn_linie"></div>
	</div>
</div>
<%= form_for @seite do |f| %>

	<%= render 'shared/error', :item => f.object%>
	<%= f.hidden_field :this_autor, :value => current_user.id %>
	
	<div id="fck_toolz_box">
		
	</div>

	<div id="fineline_seite_form">
		
		
			<% if @aktion == 'new' %>
				<div class="box">
					<div class="in_box field">
						<%= f.label :name,			:class => 'inline tooltiped',
						 							:title => Seite.human_attribute_name(:name) %> 
						<%= f.text_field :name, 	:class => 'tipped tooltiped', 
													:placeholder => Seite.human_attribute_name(:name), 
													:title => Seite.human_attribute_name(:name), 
													:size => '50' %>
					</div>
				</div>
			<% else %>
				<% if @seite.use_headline && !@seite.no_headline %>
					<div class="box"<%= " style='display:none;'" unless @seite.use_headline %>>
						<div class="in_box">
							<%= f.label :headline,			:class => 'inline' %> 
							<%= f.text_field :headline, 	:class => 'tipped tooltiped', 
															:placeholder => Seite.human_attribute_name(:headline), 
															:title => Seite.human_attribute_name(:headline), 
															:size => '50' %>
						</div>
					</div>
				<% else %>
					<div class="box">
						<div class="in_box field">
							<%= f.label :name,			:class => 'inline tooltiped',
							 							:title => Seite.human_attribute_name(:name) %> 
							<%= f.text_field :name, 	:class => 'tipped tooltiped', 
														:placeholder => Seite.human_attribute_name(:name), 
														:title => Seite.human_attribute_name(:name), 
														:size => '50' %>
						</div>
					</div>
				<% end %>
			<% end %>
			
			<div id="fineline_seite_form_abschnitt_area">

				<% f.fields_for :abschnitte do |builder| %>
					<%= render "abschnitt_fields", :f => builder %>
				<% end %>

			</div>

			<div class="box">
				<div class="in_box" id="fineline_seite_form_abschnitt_new">
					<% link_text = "<h5 class='icon'>#{ finelineIcon(:icon => 82, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) }#{ t('strange_sites.links.add_abschnitt') }</h5>" %>
					<%= link_to_add_fineline_abschnitt link_text, f, :abschnitte %>
				</div>
			</div>
			
			<div class="box">
				<div class="in_trenn_box">
					<div class="trenn_linie"></div>
				</div>
			</div>
			
			<%= render 'seiten/erweitert', :f => f %>

			<div class="clearfix"></div>
			<div class="vspacer"></div>
			<div class="clearfix"></div>
			
			<div class="box">
			  <div class="actions in_box">
			    <%= f.submit t('save') %>
			 	<div class="big_button_spacer">|<%#= t('or') %></div>
				<%= link_to t('cancel'), "#{root_url}", :class => 'big_button' %>
				<div class="clearfix"></div>
			  </div>
			</div>
			
	</div>

<% end %>


