
<h5><%= link_to finelineIcon(:icon => 54, :color => 'dunkel', :size => 24, :blur => 50)+ raw(' Seiteneinstellungen <span id="more_link_text">bearbeiten</span>'), '#', :class => "more_button" %></h5>


<div class="clearfix"></div>

<div class="no_show hidden">
	
	<div class="vspacer"></div>
	
	<div class="fl_box_110 erster">
		<label class="no_view"><%= t('strange_header.staytime') %></label>
	</div>
	<div class="fl_box_150">
		<%= f.text_field :staytime, :class => 'no_view' %> <span class="norm1"><%= t('datetime.prompts.second') %></span>
	</div>
	<div class="fl_box_150 slider_holder">
		<div id="staytime_slider"></div>
	</div>
	
	<div class="vspacer"></div>
	
	<div class="fl_box_110 erster">
		<label class="no_view"><%= t('strange_header.changetime') %></label>
	</div>
	<div class="fl_box_150">
		<%= f.text_field :changetime, :class => 'no_view' %> <span class="norm1"><%= t('datetime.prompts.second') %></span>
	</div>
	<div class="fl_box_150 slider_holder">
		<div id="changetime_slider"></div>
	</div>
	
	<div class="vspacer"></div>
	
	<div class="fl_box_110 erster">
		<label><%= t('strange_header.sort') %></label>
	</div>
	<div class="fl_box_350">
			<div class="fineline_select half std_select">
				<a href="#" class="fineline_select_trigger"></a>
				<div class="fineline_select_box hidden">
					<ul>
						<li class="level_0"><%= link_to t('strange_header.sorted'), '1' %></li>
						<li class="level_0"><%= link_to t('strange_header.unsorted'), '0' %></li>
					</ul>
				</div>
				<span class="fineline_select_text selected"><%= @header.sort ? t('strange_header.sorted') : t('strange_header.unsorted') %></span>
				<%= f.hidden_field :sort, :value => @header.sort, :class => 'fineline_select_box_input' %>
			</div>
			<div class="clearfix"></div>
	</div>

	<div class="vspacer"></div>
	
	<div class="fl_box_110 erster">
		<label><%= t('strange_header.h_hintergrund') %></label>
	</div>
	<div class="fl_box_350">
			<div class="fineline_select half" id="header_hg_typer">
				<a href="#" class="fineline_select_trigger"></a>
				<div class="fineline_select_box hidden">
					<ul>
						<% Header::BG_STYLES.each do |hbg| %>
							<li class="level_0"><%= link_to t("strange_header.hintergrund.#{hbg}"), hbg %></li>
						<% end %>
					</ul>
				</div>
				<span class="fineline_select_text selected"><%= t("strange_header.hintergrund.#{@header.hintergrund}") if @header.hintergrund %></span>
				<%= f.hidden_field :hintergrund, :value => @header.hintergrund, :class => 'fineline_select_box_input' %>
			</div>
			<div class="clearfix"></div>
	</div>

	<div class="vspacer"></div>
	
	<div id="farbe1_box" class="<%= 'hidden' unless (@header.hintergrund == 'farbe') || (@header.hintergrund == 'verlauf') || (@header.hintergrund == 'bild_farbe') || (@header.hintergrund == 'bild_verlauf') %>">
		<div class="fl_box_110 erster">
			<label><%= t('strange_header.farbe1') %></label>
		</div>
		<div class="fl_box_150">
			<%= f.text_field :farbe1, :class => 'half' %>
		</div>
		<div class="vspacer"></div>
	</div>
	
	<div id="farbe2_box" class="<%= 'hidden' unless (@header.hintergrund == 'verlauf') || (@header.hintergrund == 'bild_verlauf') %>">
		<div class="fl_box_110 erster">
			<label><%= t('strange_header.farbe2') %></label>
		</div>
		<div class="fl_box_150">
			<%= f.text_field :farbe2, :class => 'half' %>
		</div>
		<div class="vspacer"></div>
	</div>
	
	<div id="hgpic_box" class="<%= 'hidden' if (@header.hintergrund == 'farbe') || (@header.hintergrund == 'verlauf') || (@header.hintergrund == 'none') %>">
		
		<div class="fl_box_110 erster">
			<label><%= t('strange_header.bg_pic') %></label>
		</div>
		<div class="fl_box_150">
			<%= f.file_field :bg_pic %>
		</div>

		<div class="vspacer"></div>

		<div class="fl_box_110 erster">
			<label><%= t('strange_header.bg_pos_h') %></label>
		</div>
		<div class="fl_box_350">
				<div class="fineline_select half std_select">
					<a href="#" class="fineline_select_trigger"></a>
					<div class="fineline_select_box hidden">
						<ul>
							<% Header::HWERTE.each do |hbg| %>
								<li class="level_0"><%= link_to t("strange_header.bg_pos_hs.#{hbg}"), hbg %></li>
							<% end %>
						</ul>
					</div>
					<span class="fineline_select_text selected"><%= t("strange_header.bg_pos_hs.#{@header.bg_pos_h}") if !@header.bg_pos_h.blank? %></span>
					<%= f.hidden_field :bg_pos_h, :value => @header.bg_pos_h, :class => 'fineline_select_box_input' %>
				</div>
				<div class="clearfix"></div>
		</div>
		<div class="vspacer"></div>

		<div class="fl_box_110 erster">
			<label><%= t('strange_header.bg_pos_h') %></label>
		</div>
		<div class="fl_box_350">
				<div class="fineline_select half std_select" id="header_s_bg_pos_v">
					<a href="#" class="fineline_select_trigger"></a>
					<div class="fineline_select_box hidden">
						<ul>
							<% Header::VWERTE.each do |hbg| %>
								<li class="level_0"><%= link_to t("strange_header.bg_pos_vs.#{hbg}"), hbg %></li>
							<% end %>
						</ul>
					</div>
					<span class="fineline_select_text selected"><%= t("strange_header.bg_pos_vs.#{@header.bg_pos_v}") if !@header.bg_pos_v.blank? %></span>
					<%= f.hidden_field :bg_pos_v, :value => @header.bg_pos_v, :class => 'fineline_select_box_input' %>
				</div>
				<div class="clearfix"></div>
		</div>
		<div class="vspacer"></div>

		<div class="fl_box_110 erster">
			<label><%= t('strange_header.bg_repeat') %></label>
		</div>
		<div class="fl_box_350">
				<div class="fineline_select half std_select">
					<a href="#" class="fineline_select_trigger"></a>
					<div class="fineline_select_box hidden">
						<ul>
							<% Header::RWERTE.each do |hbg| %>
								<li class="level_0"><%= link_to t("strange_header.bg_repeats.#{hbg}"), hbg %></li>
							<% end %>
						</ul>
					</div>
					<span class="fineline_select_text selected"><%= t("strange_header.bg_repeats.#{@header.bg_repeat}") if !@header.bg_repeat.blank? %></span>
					<%= f.hidden_field :bg_repeat, :value => @header.bg_repeat, :class => 'fineline_select_box_input' %>
				</div>
				<div class="clearfix"></div>
		</div>
		<div class="vspacer"></div>
		
	</div>
	
	
	
	
	
	

</div>
<style>
.slider_holder { padding: 7px 0;}
</style>

<% content_for :js_stuff do %>

<script type="text/javascript">        
$(function()
    {
		$('#header_farbe1').jPicker({
			localization:
		  	{
			    text:
			    {
			      title: 'Drag Markers To Pick A Color',
			      newColor: 'new',
			      currentColor: 'current',
			      ok: 'übernehmen',
			      cancel: 'verwerfen'
			    }}
			});

		$('#header_farbe2').jPicker({
			localization:
		  	{
			    text:
			    {
			      title: 'Drag Markers To Pick A Color',
			      newColor: 'new',
			      currentColor: 'current',
			      ok: 'übernehmen',
			      cancel: 'verwerfen'
			    }}
			});
    });
</script>
<script language="Javascript">
$(function() {
		$( "#staytime_slider" ).slider({ min: 1, max: 10, value: <%= @header.staytime || 5 %>, 
		slide: function( event, ui ) {
				$( "#header_staytime" ).val( ui.value );
			}
		});
		$( "#header_staytime" ).val( $( "#staytime_slider" ).slider( "value" ) );
		
		$( "#changetime_slider" ).slider({ min: 1, max: 10, value: <%= @header.changetime || 2 %>, 
		slide: function( event, ui ) {
				$( "#header_changetime" ).val( ui.value );
			}
		});
		$( "#header_changetime" ).val( $( "#changetime_slider" ).slider( "value" ) );
});
</script>
<% end %>
