<% content_for :sidebar do %>
<div class="side_box">
	<div class="sidebar_head aktiv_box">
		<a href="#">Header</a>
	</div>
	<ul class='sidebar'>
		<li><%= link_to t('strange_header.links.index'), admin_headers_path, :class => "#{'aktiv' if @u_aktiv == 'index'}" %></li>
		<li><%= link_to t('strange_header.links.new'), new_admin_header_path, :class => "#{'aktiv' if @u_aktiv == 'new'}" %></li>
		<% if @header %>
			<% if @u_aktiv == "edit" %>
				<li><%= link_to t('strange_header.links.edit'), edit_admin_header_path(@header), :class => "aktiv" %></li>
			<% elsif @u_aktiv != "new" %>
				<li><%= link_to t('strange_header.links.edit'), edit_admin_header_path(@header) %></li>
			<% end %>
		<% end %>
		<% if @header && !@header.system_stuff && @u_aktiv != "new" %>
		<li>
			<%= strange_delete_text_link( @header, :url => admin_header_path(@header), :link_text => t('strange_header.links.delete') ) %>
		</li>
		<% end %>
	</ul>
</div>


<% if @header && @u_aktiv != "new" %>
<div class="side_box">
	<div class="sidebar_head aktiv_box">
		<a href="#">Headerinhalt</a>
	</div>
	<ul class='sidebar'>
		
		<li><%= link_to t('strange_header.links.show'), admin_header_path(@header), :class => "#{'aktiv' if @u_aktiv == "show"}" %></li>
		<li><%= link_to t('strange_header.links.add_pic'), available_admin_header_hpics_path(@header), :class => "colorB" %></li>
		<li><%= link_to t('strange_header.links.new_pic'), new_admin_header_hpic_path(@header), :class => "colorB" %></li>

	</ul>
</div>
<% end %>

<%= help_link_box %>

<% end %>
