<%= render 'admin/shared/seiten_sub_menu' %>

<div class="admin_box">
	<h1><%= t('header_new') %></h1>
	<div class="admin_in_box">
		<%= form_for @header, :url => admin_header_path do |f| %>
		<div class="box">
			<div class="in_box">
				<p>Hier haben Sie die Möglichkeit die Header-Eigenschaften zu verändern.</p>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<div class="trenn_linie"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box white">
				<%= render 'form', :f => f %>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<%= f.submit %>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<% end %>
	</div>
</div>

<%= render 'show_sidebar' %>