<%= render 'admin/shared/seiten_sub_menu' %>

<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 49, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('header_headline') %></h1>

	<div class="admin_in_box">
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.helptext.index') %></p>
				</div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white" id="Hpics_Box">
				<% @headers.each do |head| %>
					<% @wrong_pic = 0 %>
					<% head.header_hpics.each do |hhpic| %>
						<% @wrong_pic += 1 if head.ratio != hhpic.h_ratio %>
					<% end %>
					<% unless @wrong_pic == 0 %>
						<div class="wrong_header_ratio">
							<h2 class="panic"><%= t('strange_header.wrong_ratio_pics', :pic_count => @wrong_pic) %></h2>
						</div>
					<% end %>
					
					<div class="moover_box" id="<%= dom_id(head)%>">
						<div class="fl_box_310 erster">
							<% linkstil = "" %>
							<% divstil = "" %>
							<% stdstil = 'display: block; padding: 0; margin: 0; ' %>
							<% rpt = 'no-repeat' %>
							<% if head.bg_repeat %>
								<% rpt = 'repeat-x' if head.bg_repeat == 'xrepeat' %>
								<% rpt = 'repeat-y' if head.bg_repeat == 'yrepeat' %>
								<% rpt = 'repeat' if head.bg_repeat == 'repeat' %>
								<% rpt = 'no-repeat' if head.bg_repeat == 'norepeat' %>
							<% end %>

							<% if head.hintergrund && head.farbe1 && head.farbe2 && head.hintergrund == 'verlauf' %>

								<% divstil = "#{ fine_backgroundGradient('#' + head.farbe1.to_s, '#' + head.farbe2.to_s) }" %>

							<% elsif head.hintergrund && head.farbe1 && head.farbe2 && head.bg_pic && head.hintergrund == 'bild_verlauf' %>

								<% linkstil = "#{ fine_backgroundGradient('#' + head.farbe1.to_s, '#' + head.farbe2.to_s) }" %>
								<% divstil = "background: transparent url('#{ head.bg_pic.url() }') #{ head.bg_pos_h } #{ head.bg_pos_v } #{ rpt };" %>

							<% elsif head.hintergrund && head.farbe1 && head.hintergrund == 'farbe' %>

								<% divstil = "background: ##{ head.farbe1 };" %>

							<% elsif head.hintergrund && head.farbe1 && head.bg_pic && head.hintergrund == 'bild_farbe'  %>

								<% linkstil = "background: ##{ head.farbe1 };" %>
								<% divstil = "background: transparent url('#{ head.bg_pic.url() }') #{ head.bg_pos_h } #{ head.bg_pos_v } #{ rpt };" %>

							<% elsif head.bg_pic && head.hintergrund == 'bild'  %>

								<% divstil = "background: transparent url('#{ head.bg_pic.url() }') #{ head.bg_pos_h } #{ head.bg_pos_v } #{ rpt };" %>


							<% end %>
							
							<a href="<%= admin_header_path(head) %>" style="<%= stdstil %><%= linkstil %>">
							<% if head.hpics.count > 0 %>
								<% @hp_stil = '' %>
								<% hhpic = head.header_hpics.first %>
								<% hpic = hhpic.hpic %>
								<% if hhpic.cropping %>
									<% if hhpic.extendit %>
										<% wt = hpic.bild.process(:blowup).thumb(hhpic.cropping).thumb("310x80>").width %>
										<% hg = hpic.bild.process(:blowup).thumb(hhpic.cropping).thumb("310x80>").height %>
									<% else %>
										<% wt = hpic.bild.thumb(hhpic.cropping).thumb("310x80>").width %>
										<% hg = hpic.bild.thumb(hhpic.cropping).thumb("310x80>").height %>
									<% end %>
									<% @hp_stil += "margin-left: #{((310-wt)/2).to_i.to_s}px;" if wt < 310 %>
									<% @hp_stil += "margin-top: #{((80-hg)/2).to_i.to_s}px;" if hg < 80 %>
									<div class="fake_header_pic"  style="<%= stdstil %><%= divstil %>">
										<% if hhpic.fadeit && hhpic.extendit %>
										
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).process(:blowup).thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.extendit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:blowup).thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.fadeit %>
											
											<%= image_tag hpic.bild.encode(:png).thumb(hhpic.cropping).process(:side_fade, :size => hhpic.fade_factor.to_i ).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% else %>
										
											<%= image_tag hpic.bild.thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% end %>
										
									</div>
								<% else %>
									<% if hhpic.extendit %>
										<% wt = hpic.bild.process(:blowup).thumb("310x80>").width %>
										<% hg = hpic.bild.process(:blowup).thumb("310x80>").height %>
									<% else %>
										<% wt = hpic.bild.thumb("310x80>").width %>
										<% hg = hpic.bild.thumb("310x80>").height %>
									<% end %>
									<% @hp_stil += "margin-left: #{((310-wt)/2).to_i.to_s}px;" if wt < 310 %>
									<% @hp_stil += "margin-top: #{((80-hg)/2).to_i.to_s}px;" if hg < 80 %>
									<div class="fake_header_pic" style="<%= stdstil %><%= divstil %>">
										<% if hhpic.fadeit && hhpic.extendit %>
										
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).process(:blowup).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.extendit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:blowup).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.fadeit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% else %>
										
											<%= image_tag hpic.bild.thumb("310x80>").url, :style => @wt_stil  %>
										
										<% end %>
									</div>
								<% end %>
							<% else %>
								<div class="fake_header_pic" style="<%= stdstil %><%= divstil %>"></div>
							<% end %>
							<div class="clearfix"></div>
							</a>
						</div>
						<div class="fl_box_310 letzter">
							<table class="mini">
								<tr>
									<th class="norm3"><%= t('strange_header.attribute.header') %></th>
									<td class="norm2"><%= head.name %></td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.attribute.typ') %></th>
									<td class="norm2">
										<%= t("strange_header.header_typen.#{head.typ}") if !head.typ.blank? %>
										<span class="sys_help system_help_text <%= 'hidden' unless Strangecms::Config[:show_help] %>">
											<%= t("strange_header.helptext.#{head.typ}") if !head.typ.blank? %>
										</span>
									</td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.attribute.inhalt') %></th>
									<td class="norm1">
										<% if head.hpics.count == 0 %>
											<%= t('strange_header.no_pics') %>
										<% elsif head.hpics.count == 1 %>
											<%= t('strange_header.one_pic') %>
										<% else %>
											<%= t('strange_header.n_pics', :count => head.hpics.count) %>
										<% end %>
									</td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.attribute.sites') %></th>
									<td class="norm1">
										<% if head.system_stuff %>
											<%= t('strange_header.all_sites') %>
										<% elsif head.seiten.count == 0 %>
											<%= t('strange_header.no_sites') %>
										<% else %>
											<% head.seiten.each_with_index do |site,index| %>
											<%= ', ' if index > 0 %><%= site.name %>
											<% end %>
										<% end %>
									</td>
								</tr>
							</table>
							
							<div class="inbox_admin_toolz">
								<%= finelineButton(			:icon => 29, 
															:blur => finestyler( 'systemButton_icon_blur' ), 
															:color => finestyler( 'systemButton_icon_color' ), 
															:size => finestyler( 'systemButton_icon_size' ), 
															:class => "system #{ finestyler( 'systemButton_style' ) }",
															:url => admin_header_path(head),
															:title => t('strange_header.links.show') ) %>
								
								<%= finelineButton(			:icon => 30, 
															:blur => finestyler( 'systemButton_icon_blur' ), 
															:color => finestyler( 'systemButton_icon_color' ), 
															:size => finestyler( 'systemButton_icon_size' ), 
															:class => "system #{ finestyler( 'systemButton_style' ) }",
															:url => edit_admin_header_path(head),
															:title => t('strange_header.links.edit') ) %>
								<% unless head.system_stuff %>
									<%= finelineDelete( head,	:icon => 24, 
																:blur => finestyler( 'systemButton_icon_blur' ), 
																:color => finestyler( 'systemButton_icon_color' ), 
																:size => finestyler( 'systemButton_icon_size' ), 
																:class => "system #{ finestyler( 'systemButton_style' ) }",
																:url => admin_header_path(head),
																:title => t('strange_header.links.delete') ) %>
								<% end %>
							</div>
						</div>
						
						<div class="clearfix"></div>

					</div>
				<% end %>
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.helptext.std_header') %></p>
				</div>
			</div>
		</div>
		
	</div>
</div>

<%= render 'sidebar' %>


