<%= render 'admin/shared/seiten_sub_menu' %>

<div class="admin_box">
	<h1 class="admin"><%= finelineIcon(:icon => 49, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('header_show_headline') %></h1>
	<div class="admin_in_box">
		
		<div class="box">
			<div class="in_box">
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_choose') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= form_tag admin_change_header_path, :id => 'changer_form' do |f| %>
						<div class="fineline_select" id="show_header_Changer">
							<a href="#" class="fineline_select_trigger"></a>
							<div class="fineline_select_box hidden">
								<ul>
									<% Header.all.each do |hdr| %>
										<li class="level_0"><%= link_to hdr.name, hdr.id.to_s %></li>
									<% end %>
								</ul>
							</div>
							<span class="fineline_select_text selected"><%= @header.name %></span>
							<%= hidden_field_tag :header, :id, :value => @header.id.to_s, :class => 'fineline_select_box_input changer' %>
						</div>
						<div class="clearfix"></div>
					<% end %>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.typ_choose') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= t("strange_header.header_typen.#{ @header.typ }") if !@header.typ.blank? %>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_use') %>
				</div>
				<div class="fl_box_350 norm2">
					<% @header.seiten.each do |seite| %>
						<div class="selcted_sites"><%= seite.name %></div> <%= finelineButton(:icon => 25, :color => 'hell', :url => remove_site_admin_seite_header_path(seite,@header), :blur => 70, :title => t('strange_header.delete_site') ) %><br/>
					<% end %>
					<% if @header.name == 'Standard_Header' %>
						<%= t('strange_header.std_header_desc')  %>
					<% else %>
						<br/>
						<%= form_tag admin_add_header_site_path, :id => 'site_add_form' do |f| %>
						<%= hidden_field :form, :header, :value => @header.id %>
						<div class="fineline_select std_select">
							<a href="#" class="fineline_select_trigger"></a>
							<div class="fineline_select_box hidden">
								<ul>
									<li class="blank"><%= link_to ' - Seite wählen - ', '' %></li>
									<% Seite.aktiv.main.each do |seite| %>
										<% unless seite == @seite %>
										<li class="level_0"><%= link_to seite.name, seite.id.to_s %></li>
											<% if seite.unter_seiten.count > 0 %>
												<% seite.unter_seiten.each do |u_seite| %>
													<% unless u_seite == @seite %>
													<li class="level_1"><%= link_to u_seite.name, u_seite.id.to_s %></li>
														<% if u_seite.unter_seiten.count > 0 %>
															<% u_seite.unter_seiten.each do |uu_seite| %>
																<% unless uu_seite == @seite %>
																<li class="level_2"><%= link_to uu_seite.name, uu_seite.id.to_s %></li>
																<% end %>
															<% end %>
														<% end %>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</ul>
							</div>
							<span class="fineline_select_text selected"> - Seite hinzufügen - </span>
							<%= hidden_field :form, :seite, :value => '', :class => 'fineline_select_box_input' %>
						</div>&nbsp;
						<%= finelineButton(			:icon => 15, 
													:blur => 70, 
													:size => 18,
													:color => 'hell',
													:url => '#',
													:class => "submitter",
													:title => t('strange_header.add_site') ) %>
						<div class="clearfix"></div>
						<% end %>
					<% end %>
				</div>
				<div class="clearfix"></div>
				
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_format') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= t('strange_header.header_format_desc') %> <%= @header.width %> x <%= @header.height %> pixel
				</div>
				<div class="clearfix"></div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p><%= t('strange_header.header_inhalt_verwalten_desc') %></p>
				</div>
			</div>

			<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white" id="Hpics_Box">
				<% @header.header_hpics.each do |head| %>
					<div class="moover_box" id="<%= dom_id(head)%>">
						<%= fine_handle( :icon => 77, :color => 'hell', :blur => 70) %>
						<div class="fl_box_310 erster">
							<% if head.hpic.bild_cropping %>
							<%= image_tag head.hpic.bild.thumb(head.hpic.bild_cropping).thumb("310x90>").url, :alt => 'small_avatar' %>
							<% else %>
							<%= image_tag head.hpic.bild.thumb("310x90").url %>
							
							<%end%>
						</div>
						<div class="fl_box_310 letzter">
							<table class="mini">
								<tr>
									<th class="norm3"><%= t('strange_header.titel') %></th>
									<td class="norm2"><%= head.hpic.titel %></td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.inhalt') %></th>
									<td class="norm1"><%= truncate(head.hpic.inhalt, :length => 75, :omission => "...") %></td>
								</tr>
							</table>
							
							<div class="inbox_admin_toolz">
								<%= finelineButton(			:icon => 30, 
															:blur => 70, 
															:color => 'hell',
															:url => edit_admin_header_hpic_path(@header,head),
															:class => "remote_form_link",
															:title => t('strange_header.edit_hpic') ) %>
								
								<%= finelineButton(			:icon => 64, 
															:blur => 70, 
															:color => 'hell',
															:url => crop_admin_header_hpic_path(@header,head),
															:title => t('strange_header.crop_hpic') ) %>
								
								<%= finelineDelete( head,	:icon => 24, 
															:blur => 70, 
															:color => 'hell',
															:url => remove_admin_header_hpic_path(@header,head),
															:title => t('strange_header.del_pic') ) %>
							</div>
						</div>
						
						<div class="clearfix"></div>

					</div>
				<% end %>
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
	</div>
</div>

<div id="remote_stuff">
	
</div>

<%= render 'sidebar' %>

<% content_for :js_stuff do %>
<script>

$('.remote_form_link').click(function (event) {
    event.preventDefault();
    $.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ $('#remote_stuff').html(r);} });
  });
$('.changer').change(function () {
	$("#changer_form").submit();
});

$('.changer').live('change', function () {
	$("#changer_form").submit();
});
$('.changer').bind("DOMSubtreeModified",function(){
  $("#changer_form").submit();
 });

$('.submitter').live('click', function () {
	$("#site_add_form").submit();
});


var fixWidthHelper = function(e, ui) {
	ui.children().each(function() {
		$(this).width($(this).width());
	});
	return ui;
};
$(function() {
	$("#Hpics_Box").sortable({
		axis: 'y',
		handle: '.fine_handle',
		cursor: "move",
		helper: fixWidthHelper,
		update: function(){
			$.ajax({
				type: 'post', 
				data: 'authenticity_token='+AUTH_TOKEN+'&'+ $('#Hpics_Box').sortable('serialize') , 
				dataType: 'script',
				complete: function(request){
					$('#Hpics_Box').effect('highlight');
				},
				url: "<%= admin_reorder_stuff_path %>"
			})
		}
		}).disableSelection();
	});


</script>
<script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
