<%= render 'admin/shared/seiten_sub_menu' %>

<div class="admin_box">
	<h1 class="admin"><%= finelineIcon(:icon => 49, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('header_show_headline') %></h1>
	<div class="admin_in_box">
		
		<div class="box">
			<div class="in_box">
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_choose') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= form_tag admin_change_header_path, :class => 'Header_changer_form' do %>
						<div class="fineline_select" id="show_header_Changer">
							<a href="#" class="fineline_select_trigger"></a>
							<div class="fineline_select_box hidden">
								<ul>
									<% Header.all.each do |hdr| %>
										<li class="level_0"><%= link_to hdr.name, hdr.id.to_s %></li>
									<% end %>
								</ul>
							</div>
							<span class="fineline_select_text selected"><%= @header.name %></span>
							<%= hidden_field_tag :header, :id, :value => @header.id.to_s, :class => 'fineline_select_box_input changer' %>
						</div>
						<div class="clearfix"></div>
					<% end %>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.typ_choose') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= t("strange_header.header_typen.#{ @header.typ }") if !@header.typ.blank? %>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_use') %>
				</div>
				<div class="fl_box_350 norm2">
					<% if @header.name == 'Standard_Header' %>
						<p class="norm1"><%= t('strange_header.std_header_desc')  %></p>
					<% end %>
					<% @header.seiten.each do |seite| %>
						<div class="selcted_sites"><%= seite.name %></div> <%= finelineButton(:icon => 25, :color => 'hell', :url => remove_site_admin_seite_header_path(seite,@header), :blur => 70, :title => t('strange_header.delete_site') ) %><br/>
					<% end %>
					
					<br/>
					<%= form_tag admin_add_header_site_path, :id => 'site_add_form' do %>
						<%= hidden_field :form, :header, :value => @header.id %>
						<div class="fineline_select std_select">
							<a href="#" class="fineline_select_trigger"></a>
							<div class="fineline_select_box hidden">
								<ul>
									<li class="blank"><%= link_to ' - Seite wählen - ', '' %></li>
									<% Seite.aktiv.main.each do |seite| %>
										<% unless seite == @seite %>
										<li class="level_0"><%= link_to seite.name, seite.id.to_s %></li>
											<% if seite.unter_seiten.count > 0 %>
												<% seite.unter_seiten.each do |u_seite| %>
													<% unless u_seite == @seite %>
													<li class="level_1"><%= link_to u_seite.name, u_seite.id.to_s %></li>
														<% if u_seite.unter_seiten.count > 0 %>
															<% u_seite.unter_seiten.each do |uu_seite| %>
																<% unless uu_seite == @seite %>
																<li class="level_2"><%= link_to uu_seite.name, uu_seite.id.to_s %></li>
																<% end %>
															<% end %>
														<% end %>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</ul>
							</div>
							<span class="fineline_select_text selected"> - Seite hinzufügen - </span>
							<%= hidden_field :form, :seite, :value => '', :class => 'fineline_select_box_input' %>
						</div>&nbsp;
						<%= finelineButton(			:icon => 15, 
													:blur => 70, 
													:size => 18,
													:color => 'hell',
													:url => '#',
													:class => "submitter",
													:title => t('strange_header.add_site') ) %>
						<div class="clearfix"></div>
					<% end %>

				</div>
				<div class="clearfix"></div>
				
				<br/>
				<div class="fl_box_110 erster norm1">
					<%= t('strange_header.header_format') %>
				</div>
				<div class="fl_box_350 norm2">
					<%= t('strange_header.header_format_desc') %> <%= @header.width %> x <%= @header.height %> pixel
				</div>
				<div class="clearfix"></div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.header_inhalt_verwalten_desc') %></p>
					<%= @header.class %>
				</div>
			</div>

			<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white" id="Hpics_Box">
				<% @header.header_hpics.each do |head| %>
					<div class="moover_box" id="<%= dom_id(head)%>">
					<% cache(:part => "hhpic_#{head.id}") do %>
						<%= fine_handle( :icon => 77, :color => 'hell', :blur => 70) %>
						<% unless @header.ratio == head.h_ratio %>
							<div class="wrong_header_ratio">
								<h2 class="panic"><%= t('strange_header.wrong_ratio') %></h2>
							</div>
						<% end %>
						<div class="fl_box_310 erster">
							
							<% linkstil = "" %>
							<% divstil = "" %>
							<% stdstil = 'display: block; padding: 0; margin: 0; ' %>
							<% rpt = 'no-repeat' %>
							<% if @header.bg_repeat %>
								<% rpt = 'repeat-x' if @header.bg_repeat == 'xrepeat' %>
								<% rpt = 'repeat-y' if @header.bg_repeat == 'yrepeat' %>
								<% rpt = 'repeat' if @header.bg_repeat == 'repeat' %>
								<% rpt = 'no-repeat' if @header.bg_repeat == 'norepeat' %>
							<% end %>
							<% if @header.hintergrund && @header.farbe1 && @header.farbe2 && @header.hintergrund == 'verlauf' %>
								<% divstil = "#{ fine_backgroundGradient('#' + @header.farbe1.to_s, '#' + @header.farbe2.to_s) }" %>
							<% elsif @header.hintergrund && @header.farbe1 && @header.farbe2 && @header.bg_pic && @header.hintergrund == 'bild_verlauf' %>
								<% linkstil = "#{ fine_backgroundGradient('#' + @header.farbe1.to_s, '#' + @header.farbe2.to_s) }" %>
								<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
							<% elsif @header.hintergrund && @header.farbe1 && @header.hintergrund == 'farbe' %>
								<% divstil = "background: ##{ @header.farbe1 };" %>
							<% elsif @header.hintergrund && @header.farbe1 && @header.bg_pic && @header.hintergrund == 'bild_farbe'  %>
								<% linkstil = "background: ##{ @header.farbe1 };" %>
								<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
							<% elsif @header.bg_pic && @header.hintergrund == 'bild'  %>
								<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
							<% end %>
							<div class="hpic_prew_box" style="<%= stdstil %><%= linkstil %>">
								<% @wt_stil = '' %>
								<% @hg_stil = '' %>
							<% if @header.hpics.count > 0 %>
								
								<% hhpic = head %>
								<% hpic = hhpic.hpic %>
								<% if hhpic.cropping %>
									
									<% if hhpic.extendit %>
										<% wt = hpic.bild.process(:blowup).thumb(hhpic.cropping).thumb("310x80>").width %>
										<% hg = hpic.bild.process(:blowup).thumb(hhpic.cropping).thumb("310x80>").height %>
									<% else %>
										<% wt = hpic.bild.thumb(hhpic.cropping).thumb("310x80>").width %>
										<% hg = hpic.bild.thumb(hhpic.cropping).thumb("310x80>").height %>
									<% end %>
									<% @wt_stil += "margin-left: #{((310-wt)/2).to_i.to_s}px;" if wt < 310 %>
									<% @hg_stil += "margin-top: #{((80-hg)/2).to_i.to_s}px;" if hg < 80 %>
									<div style="<%= stdstil %> <%= divstil %> <%= @hg_stil %>">
										
										<% if hhpic.fadeit && hhpic.extendit %>
										
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).process(:blowup).thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.extendit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:blowup).thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.fadeit %>
											
											<%= image_tag hpic.bild.encode(:png).thumb(hhpic.cropping).process(:side_fade, :size => hhpic.fade_factor.to_i ).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% else %>
										
											<%= image_tag hpic.bild.thumb(hhpic.cropping).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% end %>
										

									</div>
								<% else %>
									<% if hhpic.extendit %>
										<% wt = hpic.bild.process(:blowup).thumb("310x80>").width %>
										<% hg = hpic.bild.process(:blowup).thumb("310x80>").height %>
									<% else %>
										<% wt = hpic.bild.thumb("310x80>").width %>
										<% hg = hpic.bild.thumb("310x80>").height %>
									<% end %>
									<% @wt_stil += "margin-left: #{((310-wt)/2).to_i.to_s}px;" if wt < 310 %>
									<% @hg_stil += "margin-top: #{((80-hg)/2).to_i.to_s}px;" if hg < 80 %>
									<div style="<%= stdstil %> <%= divstil %> <%= @hg_stil %>">
										<% if hhpic.fadeit && hhpic.extendit %>
										
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).process(:blowup).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.extendit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:blowup).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% elsif hhpic.fadeit %>
											
											<%= image_tag hpic.bild.encode(:png).process(:side_fade, :size => hhpic.fade_factor.to_i ).thumb("310x80>").url, :style => @wt_stil  %>
										
										<% else %>
										
											<%= image_tag hpic.bild.thumb("310x80>").url, :style => @wt_stil  %>
										
										<% end %>
									</div>
								<% end %>
							<% else %>
								<div style="<%= stdstil %> <%= divstil %>"></div>
							<% end %>
							<div class="clearfix"></div>
							</div>
							
						</div>
						<div class="fl_box_310 letzter">
							<table class="mini">
								<tr>
									<th class="norm3"><%= t('strange_header.hpic_attribute.name') %></th>
									<td class="norm2"><%= head.hpic.name %></td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.hpic_attribute.titel') %></th>
									<td class="norm2"><%= head.hpic.titel %></td>
								</tr>
								<tr>
									<th class="norm3"><%= t('strange_header.hpic_attribute.inhalt') %></th>
									<td class="norm1"><%= truncate(head.hpic.inhalt, :length => 75, :omission => "...") %></td>
								</tr>
							</table>
							<div class="inbox_admin_toolz">
								<%= finelineButton(			:icon => 30, 
															:blur => 70, 
															:color => 'hell',
															:url => edit_admin_header_hpic_hpic_path(head,head.hpic),
															:class => "colorB",
															:title => t('strange_header.edit_hpic') ) %>
								
								<%= finelineButton(			:icon => 64, 
															:blur => 70, 
															:color => 'hell',
															:url => crop_admin_header_hpic_hpic_path(head,head.hpic),
															:title => t('strange_header.crop_hpic') ) %>
								
								<%= finelineDelete( head,	:icon => 24, 
															:blur => 70, 
															:color => 'hell',
															:url => remove_admin_header_hpic_hpic_path(head,head.hpic),
															:title => t('strange_header.del_pic') ) %>
							</div>
						</div>
						
						<div class="clearfix"></div>
					<% end %> <%# End of cache ! %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
	</div>
</div>

<div id="remote_stuff">
	
</div>

<%= render 'sidebar' %>


