<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<% current_page 	||= 	@page 			-%>
<% num_pages 		||= 	@page_count  	-%>
<% page_url 		||=		@page_url 		-%>
<% last 	= 	current_page == num_pages ? 	true : false  	-%>
<% first 	= 	current_page == 1 ? 			true : false 	-%>
<% style    = 	style || ''  -%>

<% if @fineline_array_paginated && num_pages > 1 %>
	<nav class="pagination<%= ' '+style if !style.blank? %>">
			
			<p>Seite <%= current_page %> von <%= num_pages %> </p>&nbsp;&nbsp;&nbsp;
			
			<% if ( num_pages > 4 ) && (current_page > 2) %>
				<span class="first">
					<%= link_to finelineButton(  	:icon => 3, 
			                						:blur => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_blur], 
													:color => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_color], 
													:size => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_size], 
													:class => "pagination_nav #{ Strangecms::Stylez::Config[:front_PaginationNavButton_style] }"
													), "#{ page_url }/page/1" %>
				</span>
			<% end %>
			
			
			<% unless first %>
				<span class="prev<%= ' current' if first %>">
					<%= link_to finelineButton(  	:icon => 1, 
					                				:blur => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_blur], 
													:color => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_color], 
													:size => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_size], 
													:class => "pagination_nav #{ Strangecms::Stylez::Config[:front_PaginationNavButton_style] }"
													), "#{ page_url }/page/#{ current_page - 1 }" %>
				</span>
			<% end %>
			
			<% unless last %>
				<span class="next<%= ' current' if last %>">
					<%= link_to finelineButton(  	:icon => 2, 
					                				:blur => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_blur], 
													:color => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_color], 
													:size => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_size], 
													:class => "pagination_nav #{ Strangecms::Stylez::Config[:front_PaginationNavButton_style] }"
													), "#{ page_url }/page/#{ current_page + 1 }" %>
				</span>
			<% end %>
			
			<% if ( num_pages > 4 ) && ( current_page < (num_pages - 1) ) %>
				<span class="last">
					<%= link_to finelineButton(  	:icon => 4, 
			                						:blur => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_blur], 
													:color => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_color], 
													:size => Strangecms::Stylez::Config[:front_PaginationNavButton_icon_size], 
													:class => "pagination_nav #{ Strangecms::Stylez::Config[:front_PaginationNavButton_style] }"
													), "#{ page_url }/page/#{ num_pages }" %>
				</span>
			<% end %>
			
		  </nav>

<% else %>

	

<% end %>

