  <meta charset="utf-8">

  <%- # Always force latest IE rendering engine (even in intranet) & Chrome Frame -%>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>
  <meta name="keywords" content="<%= strange_m_keywords %>">
  <meta name="description" content="<%= strange_m_description %>">
  <meta name="author" content="<%= Strangecms::Config[:m_author] %>">

  <%- # Mobile viewport optimized: j.mp/bplateviewport -%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- # Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -%>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%- # CSS : implied media="all" -%>
  <%#= theme_stylesheet_link_tag 'jquery-ui/base/jquery_ui_min', :cache => true %>
  <%#= theme_stylesheet_link_tag 'jquery.alerts', :cache => false %>
  <%#= theme_stylesheet_link_tag 'style', :cache => false %>

  <%- # Uncomment if you are specifically targeting less enabled mobile browsers -%>
  <%#= stylesheet_link_tag "handheld", :media => "handheld" %>
 
  <%= csrf_meta_tag %>
 
  <%- # All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -%>
  <%#= javascript_include_tag 'libs/modernizr.custom' %>



  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag 'var STRANGE_G_MAP_KEY = "'+Strangecms::Config[:g_maps_key].to_s+'";' %>


  <%= yield :head %>

  <%= hook :site_after_head %>