<div class="admin_box">
	<h1>E-Mails</h1>
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<p>Hier finden Sie alle, über Ihre Internetseite, eingegangen Nachrichten (fineform´s).</p>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<div class="left">
					<label>
					Anzeigen &nbsp;&nbsp;&nbsp;
					</label>
				</div>
				<div class="left">
				<%= form_tag admin_emails_path, :id => 'changer_form' do |f| %>
					<%= select_tag :view, options_for_select( KontaktFormular::MAIL_TYPES.map { |c| [I18n.t(c), c] }, @mail_view), :class => 'changer' %>
				<% end %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="box">

				<div id="mail_box">
				<table id="mail_list">
					<thead>
					<tr class="pretty">
						<th class="sign"></th>
						<% if @mail_view == 'mail_out' %>
					    	<th class="from"><%= sortable "absender", "Empfänger", @mail_view %></th>
							<th class="about"><%= sortable "typ", "Mail-Typ", @mail_view %></th>
						    <th class="sended"><%= sortable "sended", "gesendet", @mail_view %></th>
						<% else %>
							<th class="from"><%= sortable "email", "Absender", @mail_view %></th>
							<th class="about"><%= sortable "typ", "Mail-Typ", @mail_view %></th>
						    <th class="sended"><%= sortable "sended", "Empfangen", @mail_view %></th>
						<% end %>
					    <th class="actions"></th>
					  </tr>
					</thead>
					<tbody>
				<% @finemails.each do |kontakt_formular| %>
				  <tr class="<%= 'neu' if kontakt_formular.neu %> <%= cycle('even', 'odd') %>"  id="<%= dom_id(kontakt_formular)%>">
					<td class="sign">
						<% if kontakt_formular.beantwortet %>
							<strong> &crarr; </strong>
						<% elsif kontakt_formular.neu %>
							<strong>&nbsp;&times;</strong>
						<% end %>
					</td>
					<td class="from"><%= link_to truncate(kontakt_formular.absender, :length => 35, :omission => "..."),
					 				[:admin, kontakt_formular]	%></td>
					<td class="about"><%= link_to kontakt_formular.stil.to_s, [:admin, kontakt_formular] %></td>
					
					<td class="sended"><% if Time.now - 3.hour < kontakt_formular.sended %>
						<%= link_to time_ago_in_words(kontakt_formular.sended),
										 [:admin, kontakt_formular] %>
						<% else%>
						<%= link_to kontakt_formular.sended.strftime('%d.%m.%Y . %H:%M'),
										 [:admin, kontakt_formular] %>
						<% end %></td>
					
				    <!-- <td><%# kontakt_formular.anrede %> <%# kontakt_formular.name %></td> -->
				    <td class="actions"><%= strange_show_link [:admin, kontakt_formular] %>&nbsp;&nbsp;&nbsp;
					<!-- <%# strange_antwort_link kontakt_formular %>&nbsp;&nbsp;&nbsp; -->
				    <%= strange_delete_link(kontakt_formular, :url => admin_finemail_path(kontakt_formular) ) %></td>
				  </tr>
				<% end %>
				</tbody>
				</table>
				</div>

		</div>
		
	</div>
</div>


<%= render 'admin/finemails/sidebar' %>


<% content_for :js_stuff do %>
<script>

$('.changer').change(function () {
	$("#changer_form").submit();
});

</script>
<% end %>