<div class="fl_box_310 apollo">
	
				
				<div class="field">
					<%= f.check_box :breadcrumps %> <%= f.label :breadcrumps %>
				</div>
				
				<div class="vspacer"></div>
				<div class="clearfix"></div>
				
				<div class="field">
					<%= f.check_box :no_headline %> <%= f.label :no_headline %>
				</div>

				<div class="vspacer"></div>
				<div class="clearfix"></div>
				

				<div class="field toggle_check">
					<%= f.check_box :protected_stuff %> <%= f.label :protected_stuff %>
				</div>
				<div class="field <%= 'hidden' unless @seite.protected_stuff %> toggle_field">
					<%= f.label :gruppe_id, :class => 'inline' %>
					<div class="fineline_select">
						<a href="#" class="fineline_select_trigger"></a>
						<div class="fineline_select_box hidden">
							<ul>
								<li class="blank"><%= link_to ' - - - - - ', '' %></li>
								<% Gruppe.all.each do |gruppe| %>
									<li class="level_0"><%= link_to gruppe.name, gruppe.id.to_s %></li>
								<% end %>
							</ul>
						</div>
						<% if !@seite.gruppe_id.blank? && this_gruppe = Gruppe.find(@seite.gruppe_id) %>
							 <span class="fineline_select_text selected"><%= this_gruppe.name %></span>
						<% else %>
							 <span class="fineline_select_text"> - - - - - </span>
						<% end %>
						<%= f.hidden_field :gruppe_id, :value => @seite.gruppe_id, :class => 'fineline_select_box_input' %>
					</div>
				</div>
				
				<div class="vspacer"></div>
				<div class="clearfix"></div>
</div>

<div class="grid_15 push_1">
	
			<div class="field toggle_check">
				<%= f.check_box :verteiler %> <%= f.label :verteiler %>
			</div>
			<div class="hidden toggle_field">
				<p class="sys_help">Seite existiert nicht! Sie dient lediglich als Ordner für Unterseiten.</p>
			</div>
			
			<div class="vspacer"></div>
			<div class="clearfix"></div>

			<div class="field toggle_check">
				<%= f.check_box :weiterleitung %> <%= f.label :weiterleitung %>
			</div>
			<div class="field <%= 'hidden' unless @seite.weiterleitung %> toggle_field">
				<%= f.label :externer_link, :class => 'inline' %>
				<%= f.text_field :externer_link, :class => 'tipped', :placeholder => Seite.human_attribute_name(:externer_link) %>
			</div>
			
			<div class="vspacer"></div>
			<div class="clearfix"></div>

</div>


<div class="clearfix"></div>

<% if strange_master %>
				<div class="box">
					<div class="trenn_box">
						<div class="top_trenner"></div>
					</div>
				</div>
				
			<div class="einstll">
				<h3 class="toggle_trigger">Admin Toolz <small>(nur für Seiten- / Master-Admin sichtbar)</small></h3>
				<div class="hidden toggle_box">
					<div class="vspacer"></div>
					<div class="clearfix"></div>
					<div class="grid_15 apollo">
						
						<div class="field toggle_check">
							<%= f.label :system_seite, :class => 'inline norm1' %><%= f.check_box :system_seite %>
						</div>
						<div class="field <%= 'hidden' unless @seite.system_seite %> toggle_field">
							<p class="norm1">Seite ist damit gesperrt und kann nicht mehr gelöscht werden!</p>
						</div>

						<div class="field">
							<%= f.label :system_name, :class => 'inline norm1' %><%= f.text_field :system_name, :size => '20' %>
						</div>

						<div class="field">
							<%= f.label :slug, :class => 'inline norm1' %><%= f.text_field :slug, :size => '20' %>
						</div>
						
						<div class="field">
							<p class="norm1">Modulseite: <strong><%= @seite.modul_seite %></strong></p>
							<p class="norm1">Modulname: <strong><%= @seite.modul_name %></strong></p>
						</div>
					</div>

					<div class="grid_15 push_1">
						
						<div class="field">
							<%= f.label :typ, :class => 'inline norm1' %><%= f.text_field :typ, :size => '20' %>
						</div>
						<div class="field">
							<%= f.label :status, :class => 'inline norm1' %><%= f.text_field :status, :size => '20' %>
						</div>
						<div class="field">
							<%= f.label :stil, :class => 'inline norm1' %><%= f.text_field :stil, :size => '20' %>
						</div>
						<div class="field">
							<%= f.label :template, :class => 'inline norm1' %><%= f.text_field :template, :size => '20' %>
						</div>
						
					</div>
					
					<div class="clearfix"></div>
					<div class="vspacer"></div>
					<div class="clearfix"></div>
					
				</div>
			</div>
			
<% end %>
<div class="clearfix"></div>

