<%#= render 'admin/shared/module_sub_menu' %>

<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 58, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_gallerie.headlines.bild_index') %></h1>

	<div class="admin_in_box">
		
		<div class="box">
			<div class="in_box">
				<% if @bilder.count > 1 %>
					<h2>Aktuell sind <%= @bilder.count %> Bilder vorhanden.</h2>
				<% elsif @bilder.count == 1 %>
					<h2>Aktuell ist <%= @bilder.count %> Bild vorhanden.</h2>
				<% else %>
					<h2>Aktuell sind keine Bilder vorhanden.</h2>
				<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_gallerie.help_text.bilder.index') %></p>
				</div>
			</div>

			<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white">
				<div id="Bilder_BOX">
					<% @bilder.each do |bild| %>
						<%#= render 'pic', :bild => bild %>
						<%= render 'pic', :bild => bild, :gpic_width => 157, :gpic_height => 119, :pic_size => '4line' %>
					<% end %>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
	</div>
</div>

<div id="remote_stuff">
	
</div>

<%= render 'admin/sidebars/gallerie_sidebar' %>


