<%#= render 'admin/shared/module_sub_menu' %>

<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 58, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_gallerie.headlines.bild_show', :name => @bild.name) %></h1>
	<div class="admin_in_box">
		
		<div class="box">
			<div class="in_box">
				<h2><%= @bild.name %></h2>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_gallerie.help_text.bilder.show') %></p>
				</div>
			</div>

			<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white">
				<div id="Bild_BOX">
					<% x_dims = format_bild(@bild, 690, 650) %>
					<% xb = x_dims[:breite] %>
					<% xh = x_dims[:hoehe] %>

					<div id="pic_admin_toolz">
						<%= finelineButton(		:icon => 30, 
												:blur => Strangecms::Stylez::Config[:admin_systemButton_icon_blur], 
												:color => Strangecms::Stylez::Config[:admin_systemButton_icon_color], 
												:size => Strangecms::Stylez::Config[:admin_systemButton_icon_size], 
												:class => "system #{ Strangecms::Stylez::Config[:admin_systemButton_style] }", 
												:url => edit_admin_bild_path(@bild), 
												:tooltip => t("strange_gallerie.linkz.edit_pic")  ) %>
						<%= finelineButton(		:icon => 64, 
												:blur => Strangecms::Stylez::Config[:admin_systemButton_icon_blur], 
												:color => Strangecms::Stylez::Config[:admin_systemButton_icon_color], 
												:size => Strangecms::Stylez::Config[:admin_systemButton_icon_size], 
												:class => "system #{ Strangecms::Stylez::Config[:admin_systemButton_style] }", 
												:url => zuschneiden_admin_bild_path(@bild), 
												:tooltip => t("strange_gallerie.linkz.crop_pic")  ) %>
						<%= finelineDelete( @bild, 		:icon => 24, 
														:blur => Strangecms::Stylez::Config[:admin_systemButton_icon_blur], 
														:color => Strangecms::Stylez::Config[:admin_systemButton_icon_color], 
														:size => Strangecms::Stylez::Config[:admin_systemButton_icon_size], 
														:class => 'system '+Strangecms::Stylez::Config[:admin_systemButton_style].to_s, 
														:url => admin_bild_path(@bild),
														:tooltip => t("strange_gallerie.linkz.del_pic")  ) %>
					</div>
					<div id="pic_prev_link">
						<%= finelineButton( 	:icon => 1, 
												:blur =>  Strangecms::Stylez::Config[:admin_lightboxNav_icon_blur], 
												:color => Strangecms::Stylez::Config[:admin_lightboxNav_icon_color], 
												:size =>  Strangecms::Stylez::Config[:admin_lightboxNav_icon_size], 
												:class => 'lighbox_nav '+Strangecms::Stylez::Config[:admin_lightboxNav_style].to_s,
												:url => admin_bild_path(@prev_pic) ) %>
					</div>
					<div id="pic_next_link">
						<%= finelineButton( 	:icon => 2, 
												:blur =>  Strangecms::Stylez::Config[:admin_lightboxNav_icon_blur], 
												:color => Strangecms::Stylez::Config[:admin_lightboxNav_icon_color], 
												:size =>  Strangecms::Stylez::Config[:admin_lightboxNav_icon_size], 
												:class => 'lighbox_nav '+Strangecms::Stylez::Config[:admin_lightboxNav_style].to_s,
												:url => admin_bild_path(@next_pic) ) %>
					</div>
					
					<% if !@bild.file_cropping.blank? %>
						<%= image_tag @bild.file.thumb(@bild.file_cropping).thumb("#{xb}x#{xh}").url %>
					<% else %> 
						<%= image_tag @bild.file.thumb("#{xb}x#{xh}#").url %>
					<% end %>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="box">
				<div class="trenn_linie"></div>
		</div>
		
		<div class="box">
			<div class="in_box">
				
				<div class="left_meta">
					<table>

						<tr>
							<td>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<th><%= @bild.name %></th>
						</tr>
						<tr>
							<td>Stil:</td>
							<th><%= t @bild.stil %></th>
						</tr>
					</table>
					<p><%= @bild.beschreibung %></p>
					<br/>
					<p><strong><%= link_to 'Bild bearbeiten', edit_admin_bild_path(@bild) %></strong></p>
				</tr>
				</div>
				<div class="right_meta">
					<table>
						<tr>
							<th colspan="2">Meta-Daten:</th>
						</tr>
						<tr>
							<td>Bild-Dimensionen:</td>
							<th><%= @bild.file.width %> &times; <%= @bild.file.height %> Pixel</th>
						</tr>
						<tr>
							<td>Bild-Größe:</td>
							<th><%= (@bild.file.size.to_f / 1024 / 1024).round(2) %> MB</th>
						</tr>
						<% if @bild.file.mime_type == 'image/jpeg' %>
							<% if EXIFR::JPEG.new(@bild.file.file).date_time_original %>
							<tr>
								<td>Aufnahme-Datum:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).date_time_original.strftime('%d.%m.%Y - %H:%M') if EXIFR::JPEG.new(@bild.file.file).date_time_original %></th>
							</tr>
							<tr>
								<td>Änderungs-Datum:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).date_time.to_datetime.strftime('%d.%m.%Y - %H:%M') if EXIFR::JPEG.new(@bild.file.file).date_time.to_datetime %></th>
							</tr>
							<% elsif EXIFR::JPEG.new(@bild.file.file).date_time %>
							<tr>
								<td>Aufnahme-Datum:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).date_time.to_datetime.strftime('%d.%m.%Y - %H:%M') if EXIFR::JPEG.new(@bild.file.file).date_time.to_datetime %></th>
							</tr>
							<% end %>
							<% if EXIFR::JPEG.new(@bild.file.file).model %>
							<tr>
								<td>Kamera:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).model %></th>
							</tr>
							<% end %>
							<% if EXIFR::JPEG.new(@bild.file.file).exposure_time %>
							<tr>
								<td>Belichtungszeit:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).exposure_time.to_s %></th>
							</tr>
							<% end %>
							<% if EXIFR::JPEG.new(@bild.file.file).f_number %>
							<tr>
								<td>Blende:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).f_number.to_f %></th>
							</tr>
							<% end %>
							<% if EXIFR::JPEG.new(@bild.file.file).iso_speed_ratings %>
							<tr>
								<td>ISO:</td>
								<th><%= EXIFR::JPEG.new(@bild.file.file).iso_speed_ratings %></th>
							</tr>
							<% end %>

							
						<% end %>
					</table>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div id="js_magick_place"></div>
		
		<%= render 'admin/tags/tags_show', :data => @bild %>
		
		<%= render 'admin/kategorien/kategorie_show', :data => @bild %>
		
	</div>
</div>

<div id="remote_stuff">
	
</div>

<%= render 'admin/sidebars/gallerie_sidebar' %>


