<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 58, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_gallerie.headlines.settings') %> <%= t('edit')%></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<h2><strong>Achtung</strong> die Bild-Größen beeinflussen das Design, ändern Sie diese nur wenn Sie sich sicher sind.</h2>
				<br/>
				<p>alle Formate in .. [ <strong>Breite &times; Höhe</strong> ] .. Pixel</p>
			</div>
		</div>
		<%= form_tag('/admin/settings/gallerien/update', :method => :put) do -%>
		<%= hidden_field_tag('name', @name, :size => 50 ) %>
		
		<div class="box">
			<div class="in_box white">
				<br/>
				<table class="settings kontakt">
					<tr>
						<th>Gallerie-Modul ist:</th>
						<td colspan="3">
							<% if Strangecms::Header::Config[:aktiv] %>
								<span class="cool">aktiv</span>
							<% else %>
								<span class="panic">Achtung, inaktiv!</span>
							<% end %>
							<% if site_master %>
								<%= fine_bool_tag('aktiv', 'Gallerie') %>
							<%end%>
						</td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.pic_show') %></th>
						<td colspan="3"><%= select_tag('preferences[pic_show]',
	        								options_for_select(GallerieConfiguration::PIC_SHOWS.map { |c| [t("strange_gallerie.pic_show.#{c}"), c]}, 
	        								Strangecms::Gallerie::Config[:pic_show])) %></td>
					</tr>
					<tr>
						<th>Standard-Format</th>
						<td colspan="3"><%= select_tag('preferences[standard_format]',
	        								options_for_select(Bild::BILD_STILE, 
	        								Strangecms::Gallerie::Config[:standard_format])) %></td>
					</tr>
					
					<tr>
						<th colspan="4"><br/><br/><strong><%= t('strange_gallerie.settings.watermark') %></strong></th>
					</tr>
					
					
					<tr>
						<th><%= t('strange_gallerie.settings.use_watermarks') %></th>
						<td colspan="3"><%= fine_bool_tag('use_watermarks', 'Gallerie') %></td>
					</tr>
					<tr>
						<th colspan="4" style="text-align: left;"><%= t('strange_gallerie.settings.show_watermarks') %></th>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.lightbox_watermark') %></th>
						<td colspan="3"><%= fine_bool_tag('lightbox_watermark', 'Gallerie') %></td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.show_watermark') %></th>
						<td colspan="3"><%= fine_bool_tag('show_watermark', 'Gallerie') %></td>
					</tr>
					<tr>
						<th colspan="4">&nbsp;</th>
					</tr>
					<tr>
						<th><%= t("strange_gallerie.settings.watermark_type") %></th>
						<td colspan="3">
							<%= select_tag('preferences[watermark_type]',
	        					options_for_select(GallerieConfiguration::WATERMARKS.map{ |c| [t("strange_gallerie.settings.watermark_types.#{ c }"),c]}, 
	        					Strangecms::Gallerie::Config[:watermark_type])) %></td>
					</tr>
					<tr>
						<th><%= t("strange_gallerie.settings.watermark_tile") %></th>
						<td colspan="3">
							<%= select_tag('preferences[watermark_tile]',
	        					options_for_select(GallerieConfiguration::WM_TILES.map{ |c| [c,c]}, 
	        					Strangecms::Gallerie::Config[:watermark_tile])) %></td>
					</tr>
					
					
					
					
					<tr>
						<th colspan="4">&nbsp;</th>
					</tr>
					
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_text') %></th>
						<td colspan="3"><%= text_field_tag('preferences[watermark_text]', Strangecms::Gallerie::Config[:watermark_text], :size => 54 )%></td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_font_size') %></th>
						<td colspan="3"><%= select_tag('preferences[watermark_font_size]',
        					options_for_select(GallerieConfiguration::FONTSIZE.map{ |c| [c,c]}, 
        					Strangecms::Gallerie::Config[:watermark_font_size])) %></td>
					</tr>
					
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_font_color') %></th>
						<td><%= text_field_tag('preferences[watermark_font_color]', Strangecms::Gallerie::Config[:watermark_font_color], :size => 5, :class => 'pick_color' )%>&nbsp;&nbsp;</td>
						<td colspan="2">&nbsp;</td>
					</tr>
					
					
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_blur') %></th>
						<td><%= text_field_tag('preferences[watermark_blur]', Strangecms::Gallerie::Config[:watermark_blur], :size => 5 ) %> <strong>%</strong></td>
						<td colspan="2"><div class="slider_holder"><div id="watermark_blur_slider"></div></div></td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_rotate') %></th>
						<td><%= text_field_tag('preferences[watermark_rotate]', Strangecms::Gallerie::Config[:watermark_rotate], :size => 5 ) %> <strong>°</strong></td>
						<td colspan="2"><div class="slider_holder"><div id="watermark_rotate_slider"></div></div></td>
					</tr>
					
					<tr>
						<th colspan="4">&nbsp;</th>
					</tr>
					
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_datei') %></th>
						<td colspan="2"><% if Strangecms::Gallerie::Config[:watermark_datei] && !Strangecms::Gallerie::Config[:watermark_datei].blank? %>
								<% if datei = Datei.find(Strangecms::Gallerie::Config[:watermark_datei]) %>
									<%= image_tag datei.file.thumb("100x350>").url() %>
								<% end %>
							<% end %>
						</td>
						<td>&nbsp;</td>
					</tr>
					
					<tr>
						<th colspan="4">&nbsp;</th>
					</tr>
					
					<tr>
						<th colspan="4"><br/><br/><br/><strong>Hochformat</strong></th>
					</tr>
					<tr>
						<th>Groß</th>
						<td>
							<%= text_field_tag('preferences[hochformat_width]', Strangecms::Gallerie::Config[:hochformat_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[hochformat_height]', Strangecms::Gallerie::Config[:hochformat_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th>Miniatur</th>
						<td>
							<%= text_field_tag('preferences[hochformat_thumb_width]', Strangecms::Gallerie::Config[:hochformat_thumb_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[hochformat_thumb_height]', Strangecms::Gallerie::Config[:hochformat_thumb_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th colspan="4"><br/><br/><strong>Querformat</strong></th>
					</tr>
					<tr>
						<th>Groß</th>
						<td>
							<%= text_field_tag('preferences[querformat_width]', Strangecms::Gallerie::Config[:querformat_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[querformat_height]', Strangecms::Gallerie::Config[:querformat_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th>Miniatur</th>
						<td>
							<%= text_field_tag('preferences[querformat_thumb_width]', Strangecms::Gallerie::Config[:querformat_thumb_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[querformat_thumb_height]', Strangecms::Gallerie::Config[:querformat_thumb_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th colspan="4"><br/><br/><strong>Panorama-Format</strong></th>
					</tr>
					<tr>
						<th>Groß</th>
						<td>
							<%= text_field_tag('preferences[panorama_width]', Strangecms::Gallerie::Config[:panorama_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[panorama_height]', Strangecms::Gallerie::Config[:panorama_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th>Miniatur</th>
						<td>
							<%= text_field_tag('preferences[panorama_thumb_width]', Strangecms::Gallerie::Config[:panorama_thumb_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[panorama_thumb_height]', Strangecms::Gallerie::Config[:panorama_thumb_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th colspan="4"><br/><br/><strong>Spezial-Format</strong> (Maximale-Ausmaße .. Format nutzt Original-Seitenverhälniss)</th>
					</tr>
					<tr>
						<th>Groß</th>
						<td>
							<%= text_field_tag('preferences[spezial_width]', Strangecms::Gallerie::Config[:spezial_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[spezial_height]', Strangecms::Gallerie::Config[:spezial_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th>Miniatur</th>
						<td>
							<%= text_field_tag('preferences[spezial_thumb_width]', Strangecms::Gallerie::Config[:spezial_thumb_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[spezial_thumb_height]', Strangecms::Gallerie::Config[:spezial_thumb_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th colspan="4"><br/><br/><strong>Ausfall-Format</strong> (wird verwendet wenn kein Format zugewiesen werden kann)</th>
					</tr>
					<tr>
						<th>Groß</th>
						<td>
							<%= text_field_tag('preferences[default_width]', Strangecms::Gallerie::Config[:default_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[default_height]', Strangecms::Gallerie::Config[:default_height], :size => 20 )%>
						</td>
					</tr>
					<tr>
						<th>Miniatur</th>
						<td>
							<%= text_field_tag('preferences[default_thumb_width]', Strangecms::Gallerie::Config[:default_thumb_width], :size => 20 )%>
						</td>
						<td>&times;</td>
						<td>
							<%= text_field_tag('preferences[default_thumb_height]', Strangecms::Gallerie::Config[:default_thumb_height], :size => 20 )%>
						</td>
					</tr>
					
				</table>
				<br/>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<%= submit_tag t('save_settings') %>
				<div class="big_button_spacer"><%= t('or') %></div>
				<%= link_to t('cancel'), admin_gallerie_settings_path, :class => 'big_button' %>
				<div class="clearfix"></div>
			</div>
		</div>
		
	
		<% end %>
	</div>
</div>
<% content_for :js_stuff do %>

<script type="text/javascript">
$(function() {

	
	$('.pick_color').jPicker({ localization: { text: { ok: 'übernehmen', cancel: 'verwerfen' }} });
	
	/*
	$('.farbwahl').change(function(){
		$(this).parent().parent().find('.color_2').toggleClass('invisible');
	});
	*/

	$( "#watermark_rotate_slider" ).slider({ min: -180, max: 180, value: <%= Strangecms::Gallerie::Config[:watermark_rotate] || 42 %>, 
	slide: function( event, ui ) { $( "#preferences_watermark_rotate" ).val( ui.value ); } });
	$( "#preferences_watermark_rotate" ).val( $( "#watermark_rotate_slider" ).slider( "value" ) );
	
	$( "#watermark_blur_slider" ).slider({ min: 1, max: 99, value: <%= Strangecms::Gallerie::Config[:watermark_blur] || 50 %>, 
	slide: function( event, ui ) { $( "#preferences_watermark_blur" ).val( ui.value ); } });
	$( "#preferences_watermark_blur" ).val( $( "#watermark_blur_slider" ).slider( "value" ) );

		
});
</script>
<% end %>


<style>
.slider_holder { padding: 10px 0 0;}
</style>



<%= render 'admin/settings/sidebar' %>