<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 58, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_gallerie.headlines.settings') %></h1>

	<div class="admin_in_box">
		
		<div class="box">
			<div class="in_box">
				<h3>Hier sehen Sie die momentan verwendeten Bild-größen:</h3>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box ">
				<table class="settings">
					<tr>
						<th>Gallerie-Modul</th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:aktiv] ? 'aktiv' : 'inaktiv' %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.pic_show') %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= t("strange_gallerie.pic_show.#{ Strangecms::Gallerie::Config[:pic_show] }") %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.use_watermarks') %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:use_watermarks] ? 'aktiv' : 'inaktiv' %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th colspan="6" style="text-align: left;"><%= t('strange_gallerie.settings.show_watermarks') %></th>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.lightbox_watermark') %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:lightbox_watermark] ? 'aktiv' : 'inaktiv' %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.show_watermark') %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:show_watermark] ? 'aktiv' : 'inaktiv' %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th><%= t("strange_gallerie.settings.watermark_type") %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= t("strange_gallerie.settings.watermark_types.#{ Strangecms::Gallerie::Config[:watermark_type] }") %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th><%= t("strange_gallerie.settings.watermark_tile") %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:watermark_tile]   %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_text') %></th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:watermark_text].to_s %></td>
						<td>&nbsp;</td>
					</tr>
					
					
					<tr>
						<th><%= t('strange_gallerie.settings.watermark_datei') %></th>
						<td colspan="2"><% if Strangecms::Gallerie::Config[:watermark_datei] && !Strangecms::Gallerie::Config[:watermark_datei].blank? %>
								<% if datei = Datei.find(Strangecms::Gallerie::Config[:watermark_datei]) %>
									<%= image_tag datei.file.thumb("100x350>").url() %>
								<% end %>
							<% end %>
						</td>
						<td>
							<%= form_tag(new_pref_pic_admin_settings_path, :method => :post) do %>
								<%= hidden_field_tag :prefs, 'Gallerie' %>
								<%= hidden_field_tag :modul, 'Gallerie' %>
								<%= hidden_field_tag :typ, 'Watermark' %>
								<%= hidden_field_tag :name, 'optik' %>
								<%= hidden_field_tag :back_link, '/admin/settings/gallerien' %>
								<%= hidden_field_tag :key, 'watermark_datei' %>
								<br/>
								<%= submit_tag 'neu'%>
								<div class="clearfix"></div>
								<br/>
								
							<% end %>
						</td>
					</tr>
					
					
					<tr>
						<th colspan="6" style="text-align: center;">&nbsp;&nbsp;</th>
					</tr>
					<tr>
						<th colspan="6" style="text-align: center;">&nbsp;&nbsp;</th>
					</tr>

					
					
					<tr>
						<th>Standard-Format</th>
						<td>&nbsp;</td>
						<td colspan="3"><%= Strangecms::Gallerie::Config[:standard_format] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>
						<th colspan="5">Hochformat</th>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>große Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:hochformat_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:hochformat_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>miniatur Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:hochformat_thumb_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:hochformat_thumb_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>

						<th colspan="5">Querformat</th>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>große Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:querformat_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:querformat_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>miniatur Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:querformat_thumb_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:querformat_thumb_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>

						<th colspan="5">Panorama-Format</th>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>große Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:panorama_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:panorama_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>miniatur Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:panorama_thumb_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:panorama_thumb_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>
						<th>Spezial-Format</th>
						<td>&nbsp;</td>
						<td colspan="3"><em>Maximale-Ausmaße .. Format nutzt Original-Seitenverhälniss</em></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>große Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:spezial_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:spezial_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>miniatur Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:spezial_thumb_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:spezial_thumb_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">&nbsp;</td>
					</tr>
					<tr>

						<th>Ausfall-Format </th>
						<td>&nbsp;</td>
						<td colspan="3"><em>wird verwendet wenn kein Format zugewiesen werden kann</em></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>große Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:default_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:default_height] %></td>
						<td>&nbsp;</td>
					</tr>
					<tr>

						<td>miniatur Darstellung</td>
						<td>&nbsp;</td>
						<td><%= Strangecms::Gallerie::Config[:default_thumb_width] %></td>
						<td>&times;</td>
						<td><%= Strangecms::Gallerie::Config[:default_thumb_height] %></td>
						<td>&nbsp;</td>
					</tr>
					
				</table>
				
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<%= link_to t("edit_settings"), edit_admin_settings_gallerien_path, :class => 'big_submit_button' %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>


<%= render 'admin/settings/sidebar' %>