<div class="objekt_tag_box">
<% data.kategorien.each_with_index do |kat, index| %>

<% if current_user && admin_check %>

<div class="selected_tag" id="<%= dom_id(kat)%>">
	
	<div class="selected_tag_deleta">
		<%# strange_selected_delete( tag, :url => "/admin/tags/#{tag.id}/#{data.class.to_s.singularize.downcase}/#{data.id.to_s}/remove", :tooltip => 'Tag löschen' ) %>
		<%# fineline_icon_delete( tag, :url => "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/tags/#{tag.id.to_s}/remove_data_tag", :tooltip => 'Tag löschen' ) %>
		<%= link_to finelineIcon( :icon => 24, :blur => 50, :color => 'hell', :size => 18 ), "/admin/#{data.class.to_s.tableize}/#{data.id.to_s}/kategorien/#{kat.id.to_s}/remove_kategorie",
										:method => :delete,
										:class => 'tooltiped',
										:title => t('strange_categories.headlines.kat_remove'),
										:remote => true %>
		
	</div>
	
	<div class="selected_tag_name">
		<%= kat.name %>
	</div>
	
	<div class="clearfix"></div>
	
	
	
</div>

<% else %>


<%= ', ' if index > 0 %><%= kat.name %>


<% end %>
	
<% end %>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
