<% data ||= @data %>
<% available_data ||= @available_data %>

<div class="Toolz_LB">

<h5 class="icon"><%= finelineIcon(:icon => 85, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_categories.headlines.kat_add') %></h5>
<br/>
<div>
	
	<div id="kat_form_available_tags">
		<%= render 'admin/kategorien/a_kats', :data => data, :available_data => available_data %>
	</div>

	<div class="clearfix"></div>
	<br/>
	<div class="top_trenner"></div>
	<br/>
	<%= form_tag "/admin/#{data.class.to_s.tableize}/#{data.id}/kategorien/new_kategorie", :method => :post, :remote => true do %>
		
		<p>Neue Kategorie anlegen:</p>
		<div class="field">
			<%= text_field_tag 'new_kat_name', '', :class => 'tipped', :placeholder => 'Kategorie-Name', :size => '80' %>
		</div>
		
		
		<div class="field">
			<%= text_area_tag 'new_kat_desc', '', :class => 'tipped', :placeholder => 'Kategorie-Beschreibung', :size => '80x5' %>
		</div>
		<br/>
		<div class="clearfix"></div>

		<%= submit_tag 'Kategorie erstellen' %>
	
	<% end %>
	<div class="clearfix"></div>
	<br/>
			
</div>

</div>
