<div class="finelineModulBox_Icon">
	<a class="module_icon" href="<%# ueberblick_admin_gallerien_url %><%= admin_bilder_url %>">
		<div class="module_pic">
			<%# image_tag '/images/gallerie_icon.png'%>
			<%= image_tag '/images/modul_icons/smal_80/bilder_1.png'%>
		</div>
		<p><strong>Bild-Gallerien</strong>&nbsp;&nbsp;[<%= StrangeGallerie::VERSION.to_s %>]</p>
	</a>
</div>

<div class="finelineModulBox_List">
	<div class="clearfix"></div>
	<div class="box">
		<div class="in_box">
			<div class="trenn_linie"></div>
		</div>
	</div>

	<div class="box">
		<div class="in_box">
		<a class="finelineModulLinkBox" href="<%= admin_bilder_url %>">
			<div class="fineModulActionBox">
				installiert
			</div>
			<div class="fineModulIconBox">
				<%= image_tag '/images/modul_icons/smal_80/bilder_1.png'%>
			</div>
			<div class="fineModulInfoBox">
				<p class="fineModulHeadline">Bild-Gallerien</p>
				<p>version <%= StrangeGallerie::VERSION.to_s %></p>
				<br/>
				<p>Bild und Gallerie-Modul.</p>
			</div>


			<div class="clearfix"></div>
		</a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>




