<%= render 'admin/shared/module_sub_menu' %>


<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 62, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_gallerie.headlines.gallerie_index') %></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<% if @gallerien.count > 1 %>
					<h2>Aktuell sind <%= @gallerien.count %> Gallerien vorhanden.</h2>
				<% elsif @gallerien.count == 1 %>
					<h2>Aktuell ist <%= @gallerien.count %> Gallerie vorhanden.</h2>
				<% else %>
					<h2>Aktuell sind keine Gallerien vorhanden.</h2>
				<% end %>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<p>Hier sehen Sie eine Liste der momentan aktivierten Module.</p>
			</div>
		</div>
		<div class="box">
			<div class="in_box white">
				<br/>
				<% @gallerien.each do |bg| %>
					<a href="<%= admin_gallerie_path(bg) %>" class="bild_box_folder">
						<% if bg.bilder.count > 0 %>
							<% bild = bg.bilder.first %>
							<% dim = format_thumb(bild, 172, 172) %>
							<%= image_tag bild.file.thumb(bild.file_cropping).thumb("#{dim[:breite]}x#{dim[:hoehe]}").url, 
										:style => "margin: #{(200-dim[:hoehe])/2}px #{(200-dim[:breite])/2}px" %>
								
						<% else %>
							
							<%= image_tag '/images/default_gallerie.png', :style => 'margin: 14px' %>
								
						<% end %>	
						<p><%= bg.name %> (<%= bg.bilder.count %>)</p>
					</a>
								
								
				<% end %>
				<div class="clearfix"></div>
				<br/>
			</div>
		</div>
		
	</div>
</div>

<%= render 'admin/sidebars/gallerie_sidebar' %>