<% area ||= '' %>
<style>
.<%= area %>_<%= pref %>_vorschau_in { display: inline-block; position: relative;
	<%= fine_icn_css( pref, area) %> width: <%= Strangecms::Stylez::Config["#{area}_#{pref}_icon_size"] %>px; height: <%= Strangecms::Stylez::Config["#{area}_#{pref}_icon_size"] %>px; line-height: <%= Strangecms::Stylez::Config["#{area}_#{pref}_icon_size"] %>px; }
.<%= area %>_<%= pref %>_vorschau_in:hover { <%= fine_icn_css( pref, area, 'hover') %> }
.<%= area %>_<%= pref %>_vorschau_in:active { <%= fine_icn_css( pref, area, 'active') %> }
</style>



<% if preview == 'navigation' %>
	<% this_icons = [3, 1, 38, 2, 4] %>
<% elsif preview == 'view' %>
	<% this_icons = [78, 79, 80] %>
<% else %>
	<% this_icons = [29, 64, 30, 24] %>
<% end %>


<% this_icons.each do |this| %>
<div class='icon_vorschau <%= area %>_<%= pref %>_vorschau_in'>
	<%= finelineIcon(			:icon => this, 
								:color => Strangecms::Stylez::Config["#{area}_#{pref}_icon_color"], 
								:size => Strangecms::Stylez::Config["#{area}_#{pref}_icon_size"], 
								:blur => Strangecms::Stylez::Config["#{area}_#{pref}_icon_blur"] )  %>
</div>
<% end %>
