<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 54, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_preferences.site_settings') %> <%= t('edit')%></h1>
	

	<div class="admin_in_box">
		<%= form_tag(admin_setting_path(@name), :method => :put) do -%>
		<%= hidden_field_tag('name', @name, :size => 50 ) %>
		<div class="box">
			<div class="in_box white">
				
				<table class="settings">
					<tr>
						<th colspan="2" class="u_kat"><%= t('strange_preferences.site_settings')%></th>
					</tr>
					<tr>
						<th><%= t('strange_preferences.site_name') %></th>
						<td><%= text_field_tag('preferences[site_name]', Strangecms::Config[:site_name], :size => 50 )%></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.site_url') %></th>
						<td><%= text_field_tag('preferences[site_url]', Strangecms::Config[:site_url], :size => 50 )%></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.show_site_name') %></th>
						<td><%= fine_bool_tag('show_site_name') %>
						</td>
					</tr>
					<tr>
						<td colspan="2"><%= t('strange_preferences.show_site_name_explain')%></td>
					</tr>
					
					
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<th colspan="2" class="u_kat"><%= t('strange_preferences.look_settings')%></th>
					</tr>
					<tr>
						<th><%= t('strange_preferences.attr.show_help') %></th>
						<td><%= fine_bool_tag('show_help') %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.attr.show_flash_for') %></th>
						<td>
							<div class="fl_box_110">
								<%= text_field_tag('preferences[show_flash_for]', Strangecms::Config[:show_flash_for], :size => 5 )%> 
								<%= t("datetime.prompts.second")%>
							</div>
							<div class="fl_box_230">
								<div class="slider_holder">
									<div id="show_flash_for_slider"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.attr.show_breadcrumps') %></th>
						<td><%= fine_bool_tag('show_breadcrumps') %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.attr.breadcrump_style') %></th>
						<td><%= select_tag 'preferences[breadcrump_style]', options_for_select(
							AppConfiguration::BREADCRUMPS.map{ |c| [t("strange_preferences.attr.breadcrump_stylez.#{ c }"),c]}, 
							Strangecms::Config[:breadcrump_style]) %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.attr.breadcrump_size') %></th>
						<td>
							<div class="fl_box_110">
								<%= text_field_tag('preferences[breadcrump_size]', Strangecms::Config[:breadcrump_size], :size => 5 )%> 
								<%= t("datetime.prompts.second")%>
							</div>
							<div class="fl_box_230">
								<div class="slider_holder">
									<div id="breadcrump_size_slider"></div>
								</div>
							</div>
						</td>
					</tr>
					
					<tr>
						<th><%= t('strange_preferences.always_put_site_name_in_title') %></th>
						<td><%= fine_bool_tag('always_put_site_name_in_title') %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.put_site_name_bevore_title') %></th>
						<td><%= fine_bool_tag('put_site_name_bevore_title') %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.title_seperator') %></th>
						<td><%= text_field_tag('preferences[title_seperator]', Strangecms::Config[:title_seperator], :size => 5 )%></td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					
					
					<tr>
						<th><%= t('strange_preferences.invite_only_site') %></th>
						<td><%= fine_bool_tag('invite_only_site') %></td>
					</tr>
					<tr>
						<td colspan="2"><%= t('strange_preferences.invite_only_site_explain')%></td>
					</tr>
				</table>
				<br/>
				
				<table class="settings">
					<tr>
						<th colspan="2" class="u_kat">Social-Einstellungen</th>
					</tr>
					<tr>
						<th>FaceBook App-ID</th>
						<td><%= text_field_tag('preferences[facebook_app_id]', Strangecms::Config[:facebook_app_id], :size => 50 )%></td>
					</tr>
					<tr>
						<th colspan="2" class="u_kat"><%= t('strange_preferences.google_settings')%></th>
					</tr>
					<tr>
						<th><%= t('strange_preferences.analytics_key') %></th>
						<td><%= text_field_tag('preferences[analytics_key]', Strangecms::Config[:analytics_key], :size => 50 )%></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.g_maps_key') %></th>
						<td><%= text_field_tag('preferences[g_maps_key]', Strangecms::Config[:g_maps_key], :size => 50 )%></td>
					</tr>
				</table>
				<br/>
				
				<table class="settings">
					<tr>
						<th colspan="2" class="u_kat"><%= t('strange_preferences.locale_settings')%></th>
					</tr>
					<tr>
						<th><%= t('strange_preferences.allow_locale_switching') %></th>
						<td><%= fine_bool_tag('allow_locale_switching') %></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.default_locale') %></th>
						<td><%= text_field_tag('preferences[default_locale]', Strangecms::Config[:default_locale], :size => 7 )%></td>
					</tr>
				</table>
				
				
				<% if current_user && site_master %>
				<table class="settings">
				 <tr>
				 	<th><%= t('strange_preferences.show_sitemap') %></th>
				 	<td><%= fine_bool_tag('show_sitemap') %></td>
				 </tr>
				 <tr>
				 	<th><%= t('strange_preferences.show_dashboard') %></th>
				 	<td><%= fine_bool_tag('show_dashboard') %></td>
				 </tr>
				 
				 <tr>
				 	<th><%= t('strange_preferences.make_backups') %></th>
				 	<td><%= fine_bool_tag('make_backups') %></td>
				 </tr>
				 <tr>
				 	<th><%= t('strange_preferences.show_backups') %></th>
				 	<td><%= fine_bool_tag('show_backups') %></td>
				 </tr>
				<tr>
					<th><%= t('strange_preferences.compress_stylez') %></th>
					<td><%= fine_bool_tag('compress_stylez') %></td>
				</tr>
				<tr>
					<th><%= t('strange_preferences.compress_scriptz') %></th>
					<td><%= fine_bool_tag('compress_scriptz') %></td>
				</tr>
				</table>
				<% end %>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<%= render 'update_buttons' %>
			</div>
		</div>
		
		<% end %>
	</div>
</div>

<% content_for :js_stuff do %>
<script type="text/javascript">
$(function() {
	
	$( "#show_flash_for_slider" ).slider({ min: 1, max: 10, value: <%= Strangecms::Config[:show_flash_for] || 3 %>, 
	slide: function( event, ui ) { $( "#preferences_show_flash_for" ).val( ui.value ); } });
	$( "#preferences_show_flash_for" ).val( $( "#show_flash_for_slider" ).slider( "value" ) );
	
	$( "#breadcrump_size_slider" ).slider({ min: 3, max: 23, value: <%= Strangecms::Config[:breadcrump_size] || 3 %>, 
	slide: function( event, ui ) { $( "#preferences_breadcrump_size" ).val( ui.value ); } });
	$( "#preferences_breadcrump_size" ).val( $( "#breadcrump_size_slider" ).slider( "value" ) );
	
});
</script>
<% end %>




<%= render 'sidebar' %>
