<div class="admin_box">
	<h1 class="admin"><%= finelineIcon(:icon => 54, :color => 'dunkel', :size => 24, :blur => 50) %>Info</h1>
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<p><em>Hier eine kleine Übersicht der momentanen aktiven Module.</em></p>
				<br/>
				<% Rails::Application.railties.engines.each do |key| %>
					<% xx = key.class.to_s.split('::').first %>
					[ <%= xx %> ] 
					<% if xx.match(/StrangeTheme*/) %>
						 ... Theme !<%#= key.config.root %>
					<% end %>
					<br/>
				<% end %>
				
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<p><em>Hier eine kleine Übersicht der momentanen aktiven Themes.</em></p>
				<br/>

				<%#= StrangeThemes.available_theme_names.to_s %>
				<% StrangeThemes.available_themes().each do |xxx| %>
					<%= File.basename(xxx.to_s) %> <br/>
				<% end %>
				
			</div>
		</div>
		
		<%= StrangeThemes.all_theme_hash['fomu']['theme'] %>
		<br/>
		<%= File.exists? File.join(StrangeThemes.all_theme_hash['fomu']['theme'], 'images', Strangecms::Config[:strange_logo]) %>
		<br/>
    	<%= theme_image_path(Strangecms::Config[:strange_logo]) %>
		<%= theme_image_tag(Strangecms::Config[:strange_logo]) %>
 
		
		<div class="box">
			<div class="in_box">
				<p><em>Hier eine kleine Übersicht der momentanen aktiven <strong>StrangeThemes::GemedThemes::ThemeListener</strong></em></p>
				<br/>

				<%#= StrangeThemes.available_theme_names.to_s %>
				<% StrangeThemes::GemedThemes::ThemeListener.subclasses.each do |theme_class| %>
					<%= theme_class.to_s %> <br/> 
					<%= theme_class.to_s.gsub(/Theme$/, '')%> => <%= "#{theme_class.to_s.gsub(/Theme$/, '').classify.constantize::Engine.config.root}"%>
				<% end %>
				
			</div>
		</div>
	</div>
	<% if current_user && site_master %>
	<div class="box">
		<div class="in_box">
			<div class="fl_box_350">
				<%= link_to ' ! reload Stylez ! ', expire_finestyles_path, :class => 'big_submit_button' %>
				<%= link_to ' ! reload Scriptz ! ', expire_finescripts_path, :class => 'big_submit_button' %>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<% end %>
	
</div>


<%= render 'sidebar' %>