<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 45, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_preferences.mail_server_preferences') %></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				
				<p>Einstellungen Mail-Server (<strong>nur für erfahrene User!</strong>):</p>
	
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<br/>
				<br/>
				<h2>E-Mail-Versand ist:&nbsp;&nbsp;&nbsp;<%= Strangecms::Config[:enable_mail_delivery] ? raw('<span class="cool">aktiv</span>') : raw('<span class="cool">nicht Aktiviert!</span>') %></h2>
				<br/>
				<br/>
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box ">
				<%= render 'edit_buttons' %>
			</div>
		</div>

		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
	</div>
</div>



<%= render 'sidebar' %>


