<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 29, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_preferences.look_settings') %></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				
				<h2>Einstellungen Optik:</h2>
	
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<table class="settings">
					<tr>
						<th><%= t('strange_preferences.site_width') %></th>
						<td><%= Strangecms::Config[:site_width] %></td>
						<td></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.theme') %></th>
						<td><%= Strangecms::Config[:theme] %></td>
						<td></td>
					</tr>
					
					<tr>
						<th><%= t('strange_preferences.logo') %></th>
						<td><% if Strangecms::Config[:logo_datei] && !Strangecms::Config[:logo_datei].blank? %>
								<% if datei = Datei.find(Strangecms::Config[:logo_datei]) %>
									<%= image_tag datei.file.thumb("100x350>").url() %>
								<% end %>
							<% end %>
						</td>
						<td>
							<%= form_tag(new_pref_pic_admin_settings_path, :method => :post) do %>
								<%= hidden_field_tag :prefs, '' %>
								<%= hidden_field_tag :modul, 'fineline_optik' %>
								<%= hidden_field_tag :typ, 'Front_Logo' %>
								<%= hidden_field_tag :name, 'optik' %>
								<%= hidden_field_tag :back_link, '/admin/settings/optik' %>
								<%= hidden_field_tag :key, 'logo_datei' %>
								<br/>
								<%= submit_tag 'neu'%>
								<div class="clearfix"></div>
								<br/>
								
							<% end %>
						</td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.use_logo_datei') %></th>
						<td><%= Strangecms::Config[:use_logo_datei] ? 'JA' : 'Nein' %></td>
						<td></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.strange_logo') %></th>
						<td><%= Strangecms::Config[:strange_logo] %></td>
						<td></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.strange_admin_logo') %></th>
						<td><%= Strangecms::Config[:strange_admin_logo] %></td>
						<td></td>
					</tr>
					<tr>
						<th><%= t('strange_preferences.stylesheets') %></th>
						<td><%= Strangecms::Config[:stylesheets] %></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box ">
				<%= render 'edit_buttons' %>
			</div>
		</div>

		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
	</div>
</div>



<%= render 'sidebar' %>

