<div class="admin_box">
	<h1 class="admin"><%= finelineIcon(:icon => 61, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('strangecms.datei') %></h1>
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				
				<h2>Einstellungen Optik bearbeiten:</h2>
	
			</div>
		</div>
		
		<%= form_for @datei, :url => update_pref_pic_admin_settings_path, :html => { :multipart => true } do |f| -%>
		<%= hidden_field_tag('typ', @typ) %>
		<%= hidden_field_tag('key', @key) %>
		<%= hidden_field_tag('back_link', @back_link) %>
		<%= hidden_field_tag('name', @name) %>
		<%= hidden_field_tag('prefs', @prefs) %>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<table class="settings">
					
					<%= f.hidden_field :typ, :value => @typ %>
					<%= f.hidden_field :modul, :value => @modul %>
					<%= f.hidden_field :autor, :value => current_user.id %>
					
					<tr>
						<th><%= t('strangecms.dateien.name') %></th>
						<td><%= f.text_field :name, :size => 50 %></td>
					</tr>
					
					<tr>
						<th><%= t('strangecms.dateien.beschreibung') %></th>
						<td><%= f.text_area :beschreibung, :size => '50x5' %></td>
					</tr>
					
					
					<tr>
						<th><%= t('strangecms.dateien.file') %></th>
						<td><%= f.file_field :file %></td>
					</tr>
					
					
					
					<tr>
						<th colspan="2" class="norm1">Achtung, bisher nicht implementiert!</th>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box ">
				<%= f.submit 'safe' %>
				<div class="clearfix"></div>
				
			</div>
		</div>
		
		<% end %>

		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
	</div>
</div>



<%= render 'sidebar' %>


