<div class="admin_box">
	<h1 class="admin"><%= finelineIcon(:icon => 61, :color => 'dunkel', :size => 24, :blur => 50) %><%= t('strangecms.datei') %></h1>
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				
				<h2>Einstellungen Optik bearbeiten:</h2>
	
			</div>
		</div>
		
		<%= form_tag(update_pref_pic_admin_settings_path, :method => :put) do -%>
		<%= hidden_field_tag('typ', @typ) %>
		<%= hidden_field_tag('back_link', @back_link) %>
		<%= hidden_field_tag('name', @name) %>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<table class="settings">
					
					
					<tr>
						<th><%= t('strangecms.dateien.name') %></th>
						<td><%= text_field_tag('datei[name]', '', :size => 50 )%></td>
					</tr>
					
					<tr>
						<th><%= t('strangecms.dateien.beschreibung') %></th>
						<td><%= text_area_tag('datei[beschreibung]', '', :size => '50x5' )%></td>
					</tr>
					
					
					<tr>
						<th><%= t('strangecms.dateien.file') %></th>
						<td><%= file_field_tag('datei[file]') %></td>
					</tr>
					
					
					<tr>
						<th colspan="2" class="norm1">Achtung, bisher nicht implementiert!</th>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box ">
				<%= render 'update_buttons' %>
			</div>
		</div>
		
		<% end %>

		
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		
	</div>
</div>



<%= render 'sidebar' %>


