$('.toggle_list_inna_trigger.aktiv').removeClass('aktiv').find('.toggle_list_inna_box').slideUp();

var fl_info_text = '<div class="remote_info"> .. erfolgreich gespeichert .. </div>';

$('.settings_callback.<%= @pref %>').hide(100).html('<div class="remote_info"> <%= @ok_go ? ".. gespeichert." : ".. Fehler!" %> </div>').fadeIn(100).delay(5000).hide(100);

<% if !@area.blank? && !@thing.blank? %>
	$('#<%= @area %>_<%= @pref %>_vorschau').html("<%= escape_javascript( 
		render "admin/settings/fl_#{ @thing }", :pref => @pref, :area => @area, :group => @group
		)%>");
<% end %>

