<h1><%= fform.name %> ( 1 / <%= fform.fineform_fieldsets.count %> )</h1>
<br/>
<% @finemail ||= Finemail.new %>

<%= form_for(@finemail, :url => { :controller => 'finemails', :action => :create_form_part}, 
					:html => { :multipart => true, :id => 'fineform_box'}, :remote => true) do |f| %>
<%= render 'shared/fine_error', :item => f.object%>
	<% if fform.fineform_fieldsets.count > 0 %>
	<% field_set = fform.fineform_fieldsets.first %>
	
		<p>
		<% fform.fineform_fieldsets.each_with_index do |ff_fieldset,index| %>
			<%= raw('&nbsp;&nbsp;&nbsp;&rarr;&nbsp;&nbsp;&nbsp;') if index > 0 %><%= raw('<strong>') if ff_fieldset == field_set %><%= ff_fieldset.name %><%= raw('</strong>') if ff_fieldset == field_set %>
		<% end %>
		

		
		</p>
		<br/><br/>
		<%= f.hidden_field :form_part, :value => 0 %>
		<%= f.hidden_field :abs, :value => abs.id %>

		<%= f.hidden_field :fineform_id, :value => fform.id %>
		<%= f.hidden_field :typ, :value => fform.typ %>
		<table class="fine_form_field_set">
			<% @this_fields = field_set.fineform_fields %>
			<% field_set.fineform_fields.each_with_index do |field,index| %>
			
				<% if field.system_stuff %>
					<%= f.hidden_field :absender, :id => 'absender_feld' %>
				<% end %>
				
				<%= f.fields_for(:finemail_fields, @finemail.finemail_fields.build, :child_index => "new_finemail_field_#{index+1}") do |builder| %>
					<% if field.stil == 'list' %>
						<tr>
							<th colspan="2" class="no_pad">
								<%= field.name %>
							</th>
						</tr>
						<tr>
							<th></th>
							<td class="no_pad">
								<%= builder.hidden_field :name, :value => field.name %>
								<%= render 'fineforms/ff_field', :field => field, :builder => builder, :index => index %>
								<%= builder.hidden_field :position, :value => field.position %>
								<%= builder.hidden_field :fineform_field_id, :value => field.id %>
							</td>
						</tr>
					<% else %>
						<tr>
							<th style="width: 30%">
								<%= field.name %>
							</th>
							<td>
								<%= builder.hidden_field :name, :value => field.name %>
								<%= render 'fineforms/ff_field', :field => field, :builder => builder, :index => index %>
								<%= builder.hidden_field :position, :value => field.position %>
								<%= builder.hidden_field :fineform_field_id, :value => field.id %>

							</td>
						</tr>
					<% end %>
				<% end %>
			
			<% end %>
			<tr><td colspan="2"></td></tr>
			<tr>
				<th></th>
				<td>
					<% if fform.fineform_fieldsets.count == 1 %>
						<%= f.submit 'senden' %>
					<% else %>
						<%= f.submit 'weiter' %>
					<% end %>
				</td>
			</tr>
		</table>
		<br/>
		
			
			
			
	<% end %>
<% end %>


