<div class="container_48">
	<div class="fl_box_950">
		<ul id="main_navigation">
		<%= hook :main_navigation do %>
		<% Seite.aktiv.main.nav.each do |seite| %>
			<li>
				<a href="<%= seite.link %>" class="<%= 'aktiv' if @seite && ((@seite == seite) || (@seite.elternseite_id == seite.id)) %>">
					<%= seite.name.upcase %></a>
					<% if seite.unter_seiten.aktiv.count > 0 %>
						<ul class="sub_navigation">
							<% seite.unter_seiten.aktiv.each do |u_site| %>
								<li>
									<a href="<%= u_site.link %>" class="<%= 'sub_aktiv' if @seite && ((@seite == u_site) || (@seite.ueber_seite == u_site)) %>">
										<%= u_site.name %></a>
								</li>
							<% end %>
						</ul>
					<% end %>
						
				</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>