<% linkstil = "" %>
<% divstil = "" %>
<% stdstil = 'display: block; padding: 0; margin: 0; ' %>
<% rpt = 'no-repeat' %>
<% if @header.bg_repeat %>
	<% rpt = 'repeat-x' if @header.bg_repeat == 'xrepeat' %>
	<% rpt = 'repeat-y' if @header.bg_repeat == 'yrepeat' %>
	<% rpt = 'repeat' if @header.bg_repeat == 'repeat' %>
	<% rpt = 'no-repeat' if @header.bg_repeat == 'norepeat' %>
<% end %>
<% if @header.hintergrund && @header.farbe1 && @header.farbe2 && @header.hintergrund == 'verlauf' %>
	<% divstil = "#{ fine_backgroundGradient('#' + @header.farbe1.to_s, '#' + @header.farbe2.to_s) }" %>
<% elsif @header.hintergrund && @header.farbe1 && @header.farbe2 && @header.bg_pic && @header.hintergrund == 'bild_verlauf' %>
	<% linkstil = "#{ fine_backgroundGradient('#' + @header.farbe1.to_s, '#' + @header.farbe2.to_s) }" %>
	<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
<% elsif @header.hintergrund && @header.farbe1 && @header.hintergrund == 'farbe' %>
	<% divstil = "background: ##{ @header.farbe1 };" %>
<% elsif @header.hintergrund && @header.farbe1 && @header.bg_pic && @header.hintergrund == 'bild_farbe'  %>
	<% linkstil = "background: ##{ @header.farbe1 };" %>
	<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
<% elsif @header.bg_pic && @header.hintergrund == 'bild'  %>
	<% divstil = "background: transparent url('#{ @header.bg_pic.url() }') #{ @header.bg_pos_h } #{ @header.bg_pos_v } #{ rpt };" %>
<% end %>
<% linkstil += "border-top:dashed 1px #999; border-bottom:dashed 1px #999;" %>
<% divstil += "height: #{ @header.height }px; position:relative; border:0;" %>


<div id="fine_header">
		<div class="container_48">
			<div class="grid_32" style="padding:5px 0 0">
					<h1 class="admin"><%= finelineIcon(:icon => 16, :color => 'dunkel', :size => 32, :blur => 50, :aktion => true) %><%= t('header_crop_preview_headline') %></h1>
			</div>


			<div class="clearfix"></div>
		</div>
</div>
<div id="white_spacer"> </div>
<div style="<%= linkstil %>">
	<div class="prev_box" style="<%= divstil %>">
		<div style="width:<%= @header.width %>px;height:<%= @header.height %>px; overflow:hidden; position:absolute; left: 50%; top: 0; margin-left: -<%= @header.width / 2 %>px;">
		  
			<% if @header_hpic.extendit %>
				<%= image_tag @hpic.bild.encode(:png).process(:blowup).thumb("#{@header.width}x").url, :id => 'preview' %>
			<% else %>
				<%= image_tag @hpic.bild.thumb("#{@header.width}x").url, :id => 'preview' %>
			<% end %>
		</div>
	</div>
</div>

<div id="white_spacer"> </div>

<% content_for :head do %>
<%= theme_stylesheet_link_tag 'jquery.Jcrop' %>
<style>
	#r_border_box, #l_border_box { position: absolute; top: -<%= @header.height + 22 %>px; 
		height: <%= 300+ @header.height + @hpic.bild.thumb("710x").height %>px; width: 1px; border:0; }
	#l_border_box { left: 0; border-left: dashed 1px #aaa;}
	#r_border_box { right: 0; border-right: dashed 1px #aaa;}
	
	.jcrop-holder { background: #fff url('/images/jPicker/preview-opacity.png') left top repeat;}
</style>
<% end %>

<% content_for :js_stuff do %>

<%= theme_javascript_include_tag 'jquery.Jcrop.min' %>

<% bild_width = @header_hpic.extendit ? @hpic.bild.process(:blowup).width : @hpic.bild.width %>
<% bild_height = @header_hpic.extendit ? @hpic.bild.process(:blowup).height : @hpic.bild.height %>

<script language="Javascript">

function showPreview(coords)
{
  var aspect_ratio = <%= bild_width %> / <%= bild_height %>;
  var scale = <%= 1.0 * bild_width / 710 %>;
  var crop_str = Math.round(coords.w * scale) + 'x' + Math.round(coords.h * scale) +
           '+' + Math.round(coords.x * scale) + '+' + Math.round(coords.y * scale);
  $('#bild_cropping').val(crop_str);

  var rx = <%= @header.width %> / coords.w ;
  var ry = <%= @header.height %> / coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= 710 %>) + 'px',
    height: Math.round(ry * <%= 710 * bild_height / bild_width %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
}

$(function() {
  $('#cropbox').Jcrop({
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, 240, 240 ],
      aspectRatio: <%= @header.width %>/<%= @header.height %>
    });
});

</script>
<% end %>

<div id="main" role="main">
	<div id="in_main">
		<%= form_for @hpic, :url => cropit_admin_header_hpic_hpic_path(@header_hpic,@hpic) do |f| %>
		<div class="container_48">
			<div id="content" class="fl_box_470">
				<div id="l_border_box"></div>
				<h1 class="admin">
					<%= finelineIcon(:icon => 49, :color => 'dunkel', :size => 32, :blur => 50) %><%= t('header_crop_headline') %>
				</h1>
			</div>
			<div class="fl_box_470">
				<div id="r_border_box"></div>
				
				  <%= f.hidden_field :bild_cropping, :id => 'bild_cropping' %>
				
					<%= f.hidden_field :h_ratio, :value => ( @header.width.to_f / @header.height.to_f ) %>
				
				  <%= f.submit "speichen" %>
				<%= link_to 'verwerfen', :back, :class => 'big_button' %>
				
				<div class="clearfix"></div>
				
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		
		<div class="container_48">
			<div id="content" class="fl_box_710">
				
				<% if @header_hpic.extendit %>
					<%= image_tag @hpic.bild.encode(:png).process(:blowup).thumb("710x").url, :id => 'cropbox' %>
				<% else %>
					<%= image_tag @hpic.bild.thumb("710x").url, :id => 'cropbox' %>
				<% end %>
				<div class="clearfix"></div>
				<br/>
				
				<div class="box">
						<div class="trenn_linie"></div>
				</div>
				
				<div class="box">
					<div class="in_box">
						<%= f.label :fadeit, t('strange_header.hpic_attribute.fadeit') %>
						<%= hidden_field_tag('fadeit', @header_hpic.fadeit) %>
						<%= link_to '', '#', :class => "on_off_schalter #{@header_hpic.fadeit ? 'an' : 'aus'}" %>
					</div>
				</div>
				
				<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
					<div class="box">
						<div class="in_box">
							<p class="sys_help"><%= t('strange_header.helptext.hpic_fade_desc') %></p>
						</div>
					</div>

					<div class="trenn_linie"></div>
				</div>
				
			</div>
			<div class="fl_box_210 push_1">
					<div class="side_box">
						<div class="info_sidebar_head">
							<%= t('strange_header.pic_formats') %>
						</div>
						<ul class='sidebar'>
							<li>
								<p class="norm1"><%= t('strange_header.header_choose') %></p>
								<p class="norm2"><%= @header.width %> &times; <%= @header.height %> pixel</p>
								<div class="vspacer"> </div>
							</li>
							<li>
								<p class="norm1"><%= t('strange_header.pic_crop') %></p>
								<p class="norm2"><%= @header.width %> &times; <%= @header.height %> pixel</p>
								<div class="vspacer"> </div>
							</li>
							<li>
								<p class="norm1"><%= t('strange_header.original_pic') %></p>
								<p class="norm2"><%= @hpic.bild.width < @header.width ? raw("<span class='panic'>#{ @hpic.bild.width }</span>") : @hpic.bild.width %> &times; <%= @hpic.bild.height < @header.height ? raw("<span class='panic'>#{ @hpic.bild.height }</span>") : @hpic.bild.height %> pixel</p>
								<% if @hpic.bild.width < @header.width ||  @hpic.bild.height < @header.height %>
									<p><span class='panic'>Bild ist kleiner als der Zuschnitt!</span></p>
								<% end %>
								<div class="vspacer"> </div>
							</li>
						</ul>
					</div>
					<div class="side_box">
						<div class="info_sidebar_head">
							<%= t('strange_styles.structure') %>
						</div>
						<ul class='sidebar'>
							<li>
								<p class="norm1"><%= t('strange_styles.form.content') %></p>
								<p class="norm2"><%= Strangecms::Stylez::Config[:content_width] %> pixel</p>
								<div class="vspacer"> </div>
							</li>
							<li>
								<p class="norm1"><%= t('strange_styles.form.sidebar') %></p>
								<p class="norm2"><%= Strangecms::Stylez::Config[:sidebar_width] %> pixel</p>
								<div class="vspacer"> </div>
							</li>
							<li>
								<p class="norm1"><%= t('strange_styles.form.site_width') %></p>
								<p class="norm2"><%= Strangecms::Stylez::Config[:site_width] %> pixel</p>
								<div class="vspacer"> </div>
							</li>
						</ul>
					</div>
					<div class="side_box">
						<div class="info_sidebar_head">
							<%= t('strange_header.pic_action') %>
						</div>
						<ul class='sidebar'>
							<% if @header_hpic.extendit %>
								<li>
							<%= link_to t('strange_header.pic_actions.unblow'), blowup_admin_header_hpic_hpic_path(@header_hpic,@hpic) %>
								</li>
							<% else %>
								<li>
							<%= link_to t('strange_header.pic_actions.blowup'), blowup_admin_header_hpic_hpic_path(@header_hpic,@hpic) %>
								</li>
							<% end %>
						</ul>
					</div>
			</div>
			<div class="clearfix"></div>
			<br/>
		</div>
		<div class="clearfix"></div>
		<% end %>
	</div>
</div>







