<% content_for :head do %>
<%= theme_stylesheet_link_tag 'jquery.Jcrop' %>
<% end %>

<% content_for :js_stuff do %>

<%= theme_javascript_include_tag 'jquery.Jcrop.min' %>

<script language="Javascript">

function showPreview(coords)
{
  var aspect_ratio = <%= @header_pic.bild_width %> / <%= @header_pic.bild_height %>;
  var scale = <%= 1.0 * @header_pic.bild_width / Strangecms::Config[:site_width] %>;
  var crop_str = Math.round(coords.w * scale) + 'x' + Math.round(coords.h * scale) +
           '+' + Math.round(coords.x * scale) + '+' + Math.round(coords.y * scale);
  $('#bild_cropping').val(crop_str);

  var rx = <%= Strangecms::Config[:site_width] %> / coords.w ;
  var ry = <%= @header.header_height %> / coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= Strangecms::Config[:site_width] %>) + 'px',
    height: Math.round(ry * <%= Strangecms::Config[:site_width] * @header_pic.bild_height / @header_pic.bild_width %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
}

$(function() {
  $('#cropbox').Jcrop({
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, 240, 240 ],
      aspectRatio: <%= Strangecms::Config[:site_width] %>/<%= @header.header_height %>
    });
});

</script>
<% end %>

<p>
  <b>Name:</b>
  <%= @header_pic.name %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @header_pic.bild.thumb("#{Strangecms::Config[:site_width]}x").url, :id => 'cropbox' %>
<br/><br/>
<div style="width:<%= Strangecms::Config[:site_width] %>px;height:<%= @header.header_height %>px;overflow:hidden">
  <%= image_tag @header_pic.bild.thumb("#{Strangecms::Config[:site_width]}x").url, :id => 'preview' %>
</div>
</p>

<%= form_for @header_pic, :url => admin_header_pic_path(@header_pic) do |f| %>
  <%= f.text_field :bild_cropping, :id => 'bild_cropping' %><br />
  <%= f.submit "zuschneiden!" %>
<% end %>


