<% hpics = @hpics || @available_hpics %>

<div class="admin_box in_LB">
	<h1 class="icon"><%= finelineIcon(:icon => 90, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('header_add_hpic_headline') %></h1>

	<div class="admin_in_box">
		
		<div class="system_help_text<%= ' hidden' unless Strangecms::Config[:show_help] %>">
			<div class="box">
				<div class="in_box">
					<p class="sys_help"><%= t('strange_header.helptext.add_hpic') %></p>
				</div>
			</div>

			<div class="trenn_linie"></div>
		</div>
		

		<div class="work_box">
			<div class="in_box white">
				<% hpics.each do |hp| %>
					<%= render 'admin/hpics/hpic', :hpic => hp, :header => @header, :gpic_width => 300, :gpic_height => 200 %>
				<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="trenn_linie"></div>
		
		
	</div>
</div>

