
<% if f.object.stuff_typ && f.object.stuff_typ == 'trenn_linie' %>

<div class="abschnitt-inhalt fields box" id="<%= dom_id(f.object)%>">
	<div class="box edit_in">
		<div class="in_box">
			<div class="deleted_abschnitt"><strong>X</strong> Gelöscht!</div>
			<div class="abschnitt_admin_toolz">
				<div class="remove_nested_form"><%= link_to_remove_fields dom_id(f.object), f %></div>
			</div>
			<span class="handle"></span>

			<div class="trenn_linie"></div>

		</div>
	</div>
</div>

<%= hook :in_news_form_abschnitte, :f => f %>

<% elsif f.object.stuff_typ && f.object.stuff_typ == 'text' %>

<div class="abschnitt_toolz box">
	<div class="box edit_in">
	<div class="in_box">
		<div class="nested_form">
			<div class="text-inhalt">

			<div class="nested_form">

			 <%= f.text_area :inhalt, :class => 'this_fck fck', :size => "70x5" %>

			</div></div>

		</div>
		<div class="hidden k_box"><%= f.hidden_field :stuff_typ, :value => '' %></div>
	</div>
	</div>
</div>

<% else %>

<div class="abschnitt_toolz box">
	<div class="box edit_in">
		<div class="in_box">
			<div class="deleted_abschnitt"><strong>X</strong> Gelöscht!</div>
			<div class="abschnitt_admin_toolz">
				<div class="remove_nested_form"><%= link_to_remove_fields dom_id(f.object), f %></div>
			</div>
			<div class="nested_form">
				
				<div class="text_inhalt hidden">

					<div class="nested_form">

				 		<%= f.text_area :inhalt, :class => 'this_fck fck', :size => "70x5" %>

					</div>
				</div>
		
				<div class="abschnitt_choose_toolz">
					<p class="nested_head">Inhalt wählen:</p>
					<%= hook :news_abschnitt_content_choose do %>
					<p class="add_news_text_field"><%= link_to "[T] Text", '#' %></p>
					<p class="add_news_trenn_linie"><%= link_to '[-] Trennlinie', '#' %></p>
					<% end %>
				</div>
			</div>
			<div class="hidden k_box"><%= f.hidden_field :stuff_typ, :value => '' %></div>
		</div>
	</div>
</div>

<% end %>

<script type="text/javascript">

	var js_path = "/javascripts";
    var base_path = js_path+"/fckeditor/";
	var fck_height = "200px";
	var fck_width = "731px";
	var fck_toolz = "Strange"
	
  $('textarea.this_fck').each(function(){
	var oFCKeditor = new FCKeditor(this.id, fck_width, fck_height, fck_toolz);
	oFCKeditor.BasePath = base_path;
	oFCKeditor.Config['GoogleMaps_Key'] = STRANGE_G_MAP_KEY;
	oFCKeditor.Config['CustomConfigurationsPath'] = js_path+'/fckcustom.js';
	oFCKeditor.ReplaceTextarea(); 
  });

	$('.add_news_text_field a').live('click', function(){
		event.preventDefault();
		$(this).parent().parent().parent().parent().find('.k_box input').val('text');
		$(this).parent().parent().parent().find('.text_inhalt').removeClass('hidden');
		$(this).parent().parent().parent().find('.abschnitt_choose_toolz').addClass('hidden');
	});
	
	$('.add_news_trenn_linie a').live('click', function(event){
		event.preventDefault();
		$(this).parent().parent().parent().parent().find('.k_box input').val('trenn_linie');
		$(this).parent().parent().parent().html('<div class="trenn_linie"></div>');
	});

</script>

<style>
.text_inhalt {min-height: 200px;}
.text_inhalt .nested_form {min-height: 200px;}
</style>