<%# render 'admin/shared/module_sub_menu' %>


<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 48, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_news.headlines.index') %></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<% if @news.count > 1 %>
					<h2>Aktuell sind <%= @news.count %> News vorhanden.</h2>
				<% elsif @news.count == 1 %>
					<h2>Aktuell ist <%= @news.count %> News vorhanden.</h2>
				<% else %>
					<h2>Aktuell sind keine News vorhanden.</h2>
				<% end %>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<p>Hier sehen Sie eine Liste der momentan vorhandenen News.</p>
			</div>
		</div>
		<div class="work_box">
			<div class="in_box white">
					<% @news.each_with_index do |news,index| %>
						<%= render 'news', :news => news, :index => index, :count => @news.count %>
					<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
		
	</div>
</div>

<%= render 'admin/sidebars/strange_news' %>
