<%# render 'admin/shared/module_sub_menu' %>


<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 48, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_news.headlines.index') %></h1>

	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<% if @news.count > 1 %>
					<h2>Aktuell sind <%= @news.count %> News vorhanden.</h2>
				<% elsif @news.count == 1 %>
					<h2>Aktuell ist <%= @news.count %> News vorhanden.</h2>
				<% else %>
					<h2>Aktuell sind keine News vorhanden.</h2>
				<% end %>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<p>Hier sehen Sie eine Liste der momentan vorhandenen News.</p>
			</div>
		</div>
		<div class="work_box">
			<div class="in_box white">
					
					<% @news.each_with_index do |news,index| %>
					<div class="row" id="<%= dom_id(news)%>">
					<div class="in_box">
						<div>
							<h2 class="news_headline"><%= news.headline %></h2>
							<span class="news_info"><%= news.datum.strftime('%d.%m.%Y') %> von <%= news.schreiber %></span>
							<% if news.kommentare.count > 0 %>
								&nbsp;&nbsp;<span class="news_komm_count"><%= news.kommentare.count %> Kommentare</span>

							<% end %>
							<br/>
							<p class='news_vorschau_text'>
								<%= image_tag news.file.thumb("300x100>").url, :class => 'news_thumb_image' if news.file %>
								<%= news.beschreibung %>
							</p>
							<div class="clearfix"></div>
							<div class="actions">
									<%= strange_admin_show_link news %>
									<%= strange_edit_link(news) %>

								    <%= strange_delete_link news %>

							</div>
						</div>
							<% if news.ilike && Strangecms::Config[:facebook_app_id] != "UA-XXXXX-X" %>
							<br/>
							<iframe src="http://www.facebook.com/plugins/like.php?app_id=<%= Strangecms::Config[:facebook_app_id] %>&amp;href=<%= "#{Strangecms::Config[:site_url]}#{news.news_site_slug}" + news.slug %>&amp;send=false&amp;layout=standard&amp;width=700&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:700px; height:35px;" allowTransparency="true"></iframe>

							<% end %>
							<% if admin_check && news.ilike && Strangecms::Config[:facebook_app_id] == "UA-XXXXX-X" %>
								<h5 class="panic">ACHTUNG, iLike-Button ist aktiviert, es ist aber keine Facebook-ID eingestellt bitte ändern Sie dies in den <a href="/admin/settings/cms">Einstellungen</a>.</h5>
							<% end %>
							<div class="clearfix"></div>

					</div>
					<% unless index == @news.count - 1 %>
					<div class="in_box">
							<div class="trenn_linie"></div>
							<div class="clearfix"></div>
					</div>
					<% end %>
					</div>
					<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
		
	</div>
</div>

<%= render 'admin/sidebars/strange_news' %>
