<%# render 'admin/shared/module_sub_menu' %>
<%= render 'shared/fck_editor' %>

<div class="admin_box">
	<h1 class="icon"><%= finelineIcon(:icon => 48, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= @news.headline %></h1>

	<div class="admin_in_box">
		<div class="work_box">
			<div class="in_box white">
				
			<div class="in_box">
				<% if @news.file %>
					<%= image_tag @news.file.thumb("690x300>").url, :alt => @news.slug %>
				<% else %>
					<strong>Beschreibung:</strong>
				<% end %>
			</div>
			<div class="box">
					<div class="trenn_linie"></div>
			</div>
				
			<div class="in_box">
				<%= @news.beschreibung %>
			</div>

			<div class="box">
					<div class="trenn_linie"></div>
			</div>

			<div class="in_box">
				<strong>Datum:</strong> <%= @news.datum.strftime('%d.%m.%Y - %H:%M') %>
			</div>

			<div class="box">
					<div class="trenn_linie"></div>
			</div>
			<div class="in_box">
				<strong>Inhalt:</strong>
			</div>
			<div class="box">
					<div class="trenn_linie"></div>
			</div>
			<div class="in_box">
				<% @news.news_abschnitte.each do |abs| %>
					<%= raw abs.inhalt %>
					<div class="clearfix"></div>
				<% end %>
			</div>
		
		
		
		<% if @news.kommentierbar %>

			<%= render 'kommentare/kommentar_show', :data => @news, :back_url => "#{@news.news_site_slug}"+@news.slug %>

		<% end %>


		<%= render 'admin/tags/tags_show', :data => @news %>


		<%= render 'admin/kategorien/kategorie_show', :data => @news %>
		
		
			</div>
		</div>
	</div>
</div>

<%= render 'admin/sidebars/strange_news' %>
