<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>CMS Link - Insert CMS Made Simple Link</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="noindex, nofollow" name="robots">
		<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
  		<%= javascript_tag %{!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))} %>
		<%= javascript_include_tag 'fckeditor/editor/plugins/cmscontent/fckcmscontent' %>
	<!--	<script type="text/javascript" src="fckcmscontent.js"></script>		-->

<style>
.body { height: 364px; width:384px; }

h2 { font-weight: normal; font-size: 15px; color: #666; padding: 0; margin:0 0 5px;}

#cmbPages { padding: 0; margin:0;}
#cmbPages li { padding: 0; margin:0; }
#cmbPages li a { padding: 5px 10px; display:block; font-size: 14px; font-weight:bold; text-decoration:none; color: #444;}

#cmbPages li a img { display:none; border:0; }

#cmbPages li #selected_Link img { display: inline-block !important; padding: 0 0 0 10px; }

#cmbPages li a:hover { background: rgba(5,230,30,.2); } 

#cmbPages li #selected_Link { color: #66cc00;}

</style>	


		<script type="text/javascript">
		<!--
			var dialog	= window.parent ;
			var oEditor			= window.parent.InnerDialogLoaded(); 
			var FCK				= oEditor.FCK; 
			var FCKLang			= oEditor.FCKLang ;
			var FCKConfig		= oEditor.FCKConfig ;
			var FCKCMSContent	= oEditor.FCKCMSContent; 


// get HTML from selection
function getSelectionHTML(selection)
{
   var range = (document.all ? selection.createRange() : selection.getRangeAt(selection.rangeCount - 1).cloneRange());

   if (document.all)
   {
      return range.htmlText;
   }
   else
   {
      var clonedSelection = range.cloneContents();
      var div = document.createElement('div');
      div.appendChild(clonedSelection);
      return div.innerHTML;
   }
}
			 
			// oLink: The actual selected link in the editor.
			var oLink = FCK.Selection.MoveToAncestorNode( 'A' ) ;
			if ( oLink )
				FCK.Selection.SelectNode( oLink ) ;
	
			window.onload = function ()	{ 
				// First of all, translates the dialog box texts.
				oEditor.FCKLanguageManager.TranslatePage(document);
				
				LoadSelected();							//See function below 
				window.parent.SetOkButton( true );		//Show the "Ok" button. 
				
			} 
			 
			//If an anchor (A) object is currently selected, load the properties into the dialog 
			function LoadSelected()	{
				

				var sSelected;
				
				if ( oEditor.FCKBrowserInfo.IsGecko ) {
					sSelected = FCK.Selection.GetSelectedElement();
					//	FCK.EditorWindow.getSelection(); 
					//	dialog.Selection.GetSelection();
					//	FCK.Selection.GetSelectedElement();
				} else {
					sSelected = FCK.EditorDocument.selection.createRange().text;
				}

				if ( sSelected == "xx" ) {
					alert( 'Please select a text in order to create a (internal) link' );
				} else {
					alert( sSelected.tagName + ' - ' + sSelected.innerHTML );
				}


			}

			//Code that runs after the OK button is clicked 
			function Ok() {
				//Validate is option is selected
				var oPageList = document.getElementById( 'cmbPages' ) ;
				if(oPageList.selectedIndex == -1) {
					alert('Please select a page in order to create a link');
					return false;
				}
				
				var oTagLink = document.getElementById( 'chkTaglink' );
				
			//	if (oTagLink.checked) {
					//Create special CMS tag
					var sSelected;
					
					if ( oEditor.FCKBrowserInfo.IsGecko ) {
						sSelected = FCK.EditorWindow.getSelection();
					} else {
						sSelected = FCK.EditorDocument.selection.createRange().text;
					}
				
					var sPageId = $('#selected_Link').attr("href");
					var sPageTitle = $('#selected_Link').attr("title");
					var sTagOutput = "<a href='" + sPageId + "' title='" + sPageTitle + "'>" + sSelected + "</a>";
					
					oEditor.FCK.InsertHtml( sTagOutput );
			/*					
				} else {
					var sURL = document.getElementById( 'PageURL' ) ; 
					var sPageId = oPageList[oPageList.selectedIndex].value;
					oLink = oEditor.FCK.CreateLink( sURL.value + sPageId ) ;
					SetAttribute( oLink, 'title'	, document.getElementById( 'txtTitle' ).value ) ;
				} */
				return true;
			} 
			
		//-->
		
		$().ready(function(){
			$('.strangeCMS_Link').click(function(event){
				event.preventDefault();
				$(this).parent().parent().find('#selected_Link').attr("id", '');
				$(this).attr("id", 'selected_Link');
			})
		})
		</script>
	</head>
			
	<body scroll="no" style="overflow:hidden;">
	
		 <input type="hidden" id="PageURL" value="<%= root_url %>" />
		 		<div class="box">
			<h2>Such Sie sich eine Seite aus:</h2>
	<div class="in_box">
		<ul id="cmbPages">

		<% unless @pages.blank? %>
		    <% @pages.each do |page| %>
				<% unless page.system_name && page.system_name == 'start' %>
		    		<li><%= link_to raw(page.name + image_tag("/images/ok.png", :class => "jepp")), @public_dir + page.slug.gsub('/', ''), :title => page.name, :class => 'strangeCMS_Link', :id => page.id  %></li>
				<% else %>
					<li><%= link_to raw(page.name + image_tag("/images/ok.png", :class => "jepp")), @public_dir, :title => page.name, :class => 'strangeCMS_Link', :id => page.id  %></li>
				<% end %>
		  <% end %>
		<% end %>
		</ul>
		<br/>
	</div>
</div>

	</body>
</html> 
