<div class="box">

	<div class="in_box first">
		<h1>News der Kategorie: '<%= @kategorie.name %>'</h1>
	</div>

	
	<div class="in_box">
			<div class="trenn_linie"></div>
			<div class="clearfix"></div>
	</div>
	
<div class="in_box">
	<%= render 'shared/fineline_array_paginator' %>
</div>

	<% @news.each_with_index do |news,index| %>
		<%= render 'news', :news => news, :index => index, :count => @news.count %>
	<% end %>


<% if @news.count > 4 %>
	<div class="in_box">
		<%= render 'shared/fineline_array_paginator' %>
	</div>
<% end %>

</div>



<%= render :partial => 'news/sidebar' %>

