<!--
de:
  date:
    formats:
      default: "%d.%m.%Y"
      short: "%e. %b"
      long: "%e. %B %Y"
      only_day: "%e"

    day_names: [Sonntag, Montag, Dienstag, Mittwoch, Donnerstag, Freitag, Samstag]
    abbr_day_names: [So, Mo, Di, Mi, Do, Fr, Sa]
    month_names: [~, Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember]
    abbr_month_names: [~, Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez] -->
<div class="box">

	<div class="in_box first">
		<% if @tag %>
			<h1>News mit Tag: '<%= @tag.name %>'</h1>
		<% elsif @kategorie %>
			<h1>News der Kategorie: '<%= @kategorie.name %>'</h1>
		<% elsif params[:year] %>
			<h1>News von: <%= params[:day]+"." if params[:day] %><%= params[:month]+"." if params[:month] %><%= params[:year] %></h1>
		<% else %>
			<h1>News</h1>
		<% end %>
	</div>

	
	<div class="in_box">
			<div class="trenn_linie"></div>
			<div class="clearfix"></div>
	</div>

<div class="in_box">
	<%= render 'shared/fineline_array_paginator' %>
</div>


	<% @news.each_with_index do |news,index| %>
	<div class="in_box">
		<a href="<%= "#{news.news_site_slug}" + news.slug %>">
			<h2 class="news_headline"><%= news.headline %></h2>
			<span class="news_info"><%= news.datum.strftime('%d.%m.%Y') %> von <%= news.schreiber %></span>
			<% if news.kommentare.count > 0 %>
				&nbsp;&nbsp;<span class="news_komm_count"><%= news.kommentare.count %> Kommentare</span>

			<% end %>
			<br/>
			<span class='news_vorschau_text'>
				<%= image_tag news.file.thumb("300x100>").url, :class => 'news_thumb_image' if news.file %>
				<%= news.beschreibung %>
			</span>
			<div class="clearfix"></div>
		</a>
			<% if news.ilike && Strangecms::Config[:facebook_app_id] != "UA-XXXXX-X" %>
			<br/>
			<iframe src="http://www.facebook.com/plugins/like.php?app_id=<%= Strangecms::Config[:facebook_app_id] %>&amp;href=<%= "#{Strangecms::Config[:site_url]}#{news.news_site_slug}" + news.slug %>&amp;send=false&amp;layout=standard&amp;width=700&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:700px; height:35px;" allowTransparency="true"></iframe>

			<% end %>
			<% if admin_check && news.ilike && Strangecms::Config[:facebook_app_id] == "UA-XXXXX-X" %>
				<h5 class="panic">ACHTUNG, iLike-Button ist aktiviert, es ist aber keine Facebook-ID eingestellt bitte ändern Sie dies in den <a href="/admin/settings/cms">Einstellungen</a>.</h5>
			<% end %>
			<div class="clearfix"></div>

	</div>
	
	<% unless index == @news.count - 1 %>
	<div class="in_box">
			<div class="trenn_linie"></div>
			<div class="clearfix"></div>
	</div>
	<% end %>
	
	<% end %>
	

<% if @news.count > 4 %>
	<div class="in_box">
		<%= render 'shared/fineline_array_paginator' %>
	</div>
<% end %>


</div>



<%= render :partial => 'news/sidebar' %>

