<div class="finelineModulBox_Icon">
	<a class="module_icon" href="<%= admin_emails_url %>">
		<div class="module_pic">
			<%# image_tag '/images/post_icon.png'%>
			<%= image_tag '/images/modul_icons/smal_80/mail_1.png'%>
		</div>
		<p><strong>Kontakt-Formular</strong>&nbsp;&nbsp;[<%= StrangeKontaktform::VERSION.to_s %>]</p>
	</a>
</div>

<div class="finelineModulBox_List">
	<div class="clearfix"></div>
	<div class="box">
		<div class="in_box">
			<div class="trenn_linie"></div>
		</div>
	</div>

	<div class="box">
		<div class="in_box">
		<a class="finelineModulLinkBox" href="<%= admin_emails_url %>">
			<div class="fineModulActionBox">
				installiert
			</div>
			<div class="fineModulIconBox">
				<%= image_tag '/images/modul_icons/smal_80/mail_1.png'%>
			</div>
			<div class="fineModulInfoBox">
				<p class="fineModulHeadline">Kontakt-Formular</p>
				<p>version <%= StrangeKontaktform::VERSION.to_s %></p>
				<br/>
				<p>Kontakt-Formular-Modul.</p>
			</div>


			<div class="clearfix"></div>
		</a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>





