<h1 class="icon"><%= finelineIcon(:icon => 45, :color => finestyler('headline_icon_color'), :size => finestyler('headline_icon_size'), :blur => finestyler('headline_icon_blur')) %><%= t('strange_kontaktform.headlines.edit') %></h1>


<%= render 'form' %>

<%= link_to 'Show', @kontakt_formular %> |
<%= link_to 'Back', kontakt_formulare_path %>
