<% if @seite %>
	<% @header = @seite.header || Header.first %>
<% else %>
	<% @header = Header.first %>
<% end %>
<style type="text/css">
	#banner { height: <%= @header.height %>px; 
		<%= fine_boxShadow( 'inset 0 0 9px 10px rgba(0,0,0,.7)' ) %> margin: 0 -30px; padding: 0 30px;
		<% if @header.hintergrund && @header.farbe1 && @header.farbe2 && @header.hintergrund == 'verlauf' %>
			<%= fine_backgroundGradient('#' + @header.farbe1.to_s, '#' + @header.farbe2.to_s) %>
		<% elsif @header.hintergrund && @header.farbe1 && @header.hintergrund == 'farbe' %>
			background: #<%= @header.farbe1 %>;
		<% end %>
		}
	#banner #main_nav_holder { height: <%= @header.height %>px;}
</style>

<% if @header.hpics.count > 1 %>

	<% if @header.typ == 'slider' %>

		<%= render 'show_slider' %>
		

	<% elsif @header.typ == 'fader' %>
	
				<div id="banner_box">lade..<%= image_tag '/images/loading.gif' %></div>

					<% javatext = '' %>
					<% javatext = "<script type='text/javascript'>
					  $(function() {
					    $('#banner_box').crossSlide({
							fade: #{@header.changetime},
							sleep: #{@header.staytime},
							shuffle: true,
							doubleFade: true
					    }, [ // Bilder
					       " %>
					<% @header.hpics.each do |slider| %>
						<% if slider.bild_cropping %>
							<% javatext +='{ src: "'+slider.bild.thumb(slider.bild_cropping).thumb("#{@header.width}x#{@header.height}").url+'"}, ' %>
						<% else %>
							<% javatext +='{ src: "'+slider.bild.thumb("#{@header.width}x#{@header.height}").url+'"}, ' %>
						<%end%>

					<% end %>
					<% javatext +=']); });</script>' %>	

				<%= content_for :front_js do %>

						<%= theme_javascript_include_tag 'cross_slide' %>
						<%= raw(javatext) %>
						<style>
						#banner_box { width: <%= @header.width %>px; height: <%= @header.height %>px;  left:50%; margin-left: -<%= @header.width / 2 %>px; top: 0; position:absolute; border: 0; text-align:center; }
						</style>

				<% end %>
	
	<% elsif @header.typ == 's3_slider' %>
		
		<%= render 'show_sdrei' %>
		
	<% end %>

<% elsif @header.hpics.count == 1 %>

<div id="banner_pic_holder">
	<% @header.hpics.each do |slider| %>
		<% if slider.bild_cropping %>
			<%= image_tag slider.bild.thumb(slider.bild_cropping).thumb("#{@header.width}x#{@header.height}").url %>
		<% else %>
			<%= image_tag slider.bild.thumb("#{@header.width}x#{@header.height}").url %>
		<%end%>
	<% end %>
</div>

<style>
#banner_pic_holder { position:absolute; width: <%= @header.width %>px; height: <%= @header.height %>px; left:50%; margin-left: -<%= @header.width / 2 %>px; top: 0; border: 0; text-align:center; display: block; }
</style>
	

<% end %>