<%= render 'admin/shared/module_sub_menu' %>


<div class="admin_box">
	<h1>individuelle Formulare</h1>
	<div class="admin_in_box">
		<div class="box">
			<div class="in_box">
				<% if @fineforms.count > 1 %>
					<h2>Aktuell sind <%= @fineforms.count %> Formulare vorhanden.</h2>
				<% elsif @fineforms.count == 1 %>
					<h2>Aktuell ist nur ein Formular vorhanden.</h2>
				<% else %>
					<h2>Aktuell sind leider keine Formulare vorhanden.</h2>
				<% end %>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<p>Hier sehen Sie eine Liste der momentan aktivierten Module.</p>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box white">
				<br/>
				<table id="set_finefields_box" class="fineline_table">
					<% @fineforms.each do |ff| %>
						<tr id="<%= dom_id(ff)%>">
							<td class="sorter"><!--<span class="handler"></span>--></td>

							<td class="title"><h2><%= link_to ff.name, admin_fineform_path(ff) %></h2></td>
							<td class="fine_feld">
								
							</td>
							<td class="desc"><%=  t("strange_fineform.#{ff.form_typ}") %></td>
							<td class="actions">

								<%= strange_edit_link ff %>
								&nbsp;&nbsp;&nbsp;
								<%= strange_delete_link( ff, :url => admin_fineform_path(ff) ) %>

							</td>
						</tr>
					<% end %>
				</table>
				

				<div class="clearfix"></div>
				<br/>
			</div>
		</div>
		
	</div>
</div>

<%= render 'sidebar' %>