<%= render 'admin/shared/module_sub_menu' %>

<div class="admin_box">
	<h1><%= t('fineform_new') %></h1>
	<div class="admin_in_box">
		<%= form_for(@fineform, :url => { :controller => 'admin/fineforms'}) do |f| %>
		<div class="box">
			<div class="in_box">
				<p>Hier haben Sie die Möglichkeit ein Formular anzulegen.</p>
			</div>
		</div>
		<div class="box">
			<div class="trenn_box">
				<div class="top_trenner"></div>
			</div>
		</div>
		<div class="box">
			<div class="in_box">
				<%= render 'shared/error', :item => f.object%>
			</div>
		</div>
		<div class="box">
			<div class="in_box white">
				<table>
					<tr>
						<th><%= f.label :name %></th>
						<td><%= f.text_field :name, :size => '50' %></td>
					</tr>
					<tr>
						<th><%= f.label :beschreibung %></th>
						<td><%= f.text_area :beschreibung, :size => '50x5' %></td>
					</tr>
					<tr>
						<th><%= f.label :stil %></th>
						<td><%= f.text_field :stil %></td>
						<%# select_tag :view, options_for_select( Bild::BILD_STILE.map { |c| [I18n.t(c), c] }, @mail_view) %>
					</tr>
					<tr>
						<th><%= f.label :typ %></th>
						<td><%= f.text_field :typ %></td>
						<%# select_tag :view, options_for_select( Bild::BILD_STILE.map { |c| [I18n.t(c), c] }, @mail_view) %>
					</tr>
					<tr>
						<th><%= f.label :form_typ %></th>
						<td><%= f.select :form_typ, Fineform::FORM_TYPEN.map { |c| [t("strange_fineform.#{c}"), c] } %></td>
						<%# select_tag :view, options_for_select( Bild::BILD_STILE.map { |c| [I18n.t(c), c] }, @mail_view) %>
					</tr>
					<tr>
						<th><%= f.label :seite_id %></th>
						<td><%= f.select :seite_id, Seite.all.map { |c| [c.name, c.id] }, :include_blank => true %></td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="box">
			<div class="in_box">
				<%= f.submit %>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<% end %>
	</div>
</div>

<%= render 'sidebar' %>