<div class="box">
	<div class="in_box first">
		<h1><%= t("Resend_unlock_instructions") %></h1>
	</div>
</div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

<div class="box">
	<div class="in_box">
		<%= strange_devise_error_messages! %>
			<table class="login">
				<tr>
					<th><%= f.label :email, t("email") %></th>
					<td><%= f.text_field :email %></td>
				</tr>
			</table>
	</div>
</div>


<div class="box">
	<div class="in_box">
		<%= f.submit t("Resend_x") %>
		<div class="big_button_spacer"><%= t('or') %></div>
		<%= link_to t('back'), :back, :class => 'big_button' %>
		<div class="clearfix"></div>
	</div>
</div>

<% end %>

<div class="box">
	<div class="in_box">
		<%= render :partial => "devise/shared/links" %>
		<div class="clearfix"></div>
	</div>
</div>