<a href="<%= admin_bild_kategorie_path(bk) %>" class="bild_box_folder">
	<% if bk.bilder.count > 0 %>
		<% bild = bk.bilder.first %>
		<% dim = format_thumb(bild, 172, 172) %>
		<%= image_tag bild.file.thumb(bild.file_cropping).thumb("#{dim[:breite]}x#{dim[:hoehe]}").url, 
					:style => "margin: #{(200-dim[:hoehe])/2}px #{(200-dim[:breite])/2}px" %>
			
	<% else %>
		
		<%= image_tag '/images/default_bild_kategorie.png', :style => 'margin: 14px' %>
			
	<% end %>	
	<p><%= bk.name %> (<%= bk.bilder.count %>)</p>
</a>