<div class="box">
	<div class="in_box first">
		<h1><% t("h_Edit_1") %><%= resource_name.to_s.humanize %><% t("h_Edit_2") %></h1>
	</div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>

<div class="box">
	<div class="in_box">
		<%# strange_devise_error_messages! %>
			<table class="login">
				<tr>
					<th><%= f.label :anrede, t("anrede") %></th>
					<td><%= f.select :anrede, User::USER_TYPIES.map { |c| [I18n.t(c), c] }, :include_blank => true %></td>
				</tr>
				<tr>
					<th><%= f.label :vorname, t("vorname") %></th>
					<td><%= f.text_field :vorname %></td>
				</tr>
				<tr>
					<th><%= f.label :name, t("name") %></th>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<th><%= f.label :bild, t("bild") %></th>
					<td><%= f.file_field :bild %></td>
				</tr>
				<tr>
					<th><%= f.label :email, t("email") %></th>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<th colspan="2"><em><% t("leave_blank_if_you_don_want_to_change_it") %></em></th>
				</tr>
				<tr>
					<th><%= f.label :password_confirmation, t("password_confirmation") %></th>
					<td><%= f.password_field :password_confirmation %></td>
				</tr>
				<tr>
					<th><%= f.label :current_password, t("current_password") %></th>
					<td><%= f.password_field :current_password %></td>
				</tr>
				<tr>
					<th colspan="2"><em><% t("we_need_your_current_password_to_confirm_your_changes") %></em></th>
				</tr>
			</table>
	</div>
</div>

<div class="box">
	<div class="in_box">
		<%= f.submit t("Update") %>
		<div class="big_button_spacer"><%= t('or') %></div>
		<%= link_to t('back'), :back, :class => 'big_button' %>
		<div class="clearfix"></div>
	</div>
</div>

<% end %>

<div class="box">
	<div class="in_box">
		<p><% t("Unhappy") %></p>
	</div>
</div>

<div class="box">
	<div class="in_box">
		<h3><% t("Cancel_my_account") %>:</h3>
		<br/>
		<p><% t("Unhappy") %></p>
		<%= link_to t("Cancel_my_account"), registration_path(resource_name), :confirm => t("Are_you_sure"), :method => :delete, :class => 'big_button' %>
		<div class="big_button_spacer">oder</div>
		<%= link_to 'zurück', :back, :class => 'big_button' %>
		<div class="clearfix"></div>
	</div>
</div>